/*
SPDX-FileCopyrightText: 2024 Sequent Tech <legal@sequentech.io>

SPDX-License-Identifier: AGPL-3.0-only
*/

#page-sidebar {
    a[href*="applications"] {
        display: none;
    }
}

.pf-c-page__main .pf-c-form__group:has(input:not(:read-only)),
.pf-c-page__main .pf-c-form__group:has(button.pf-c-select__toggle) {
    display: none;
}

:root, .pf-c-nav, .pf-c-page {
    --pf-global--palette--black-200: #D0D5DD;
    --pf-global--palette--black-800: #191D23;
    --pf-global--danger-color--200: #991b1b;
    --sequent-header-bg: #F7F9FE;
    --white:#FFFFFF;
    --pf-global--BoxShadow--lg: none;
    --sequent--primary-color: #0F054C;
    --pf-global--link--Color: #191D23;
    --pf-c-nav__link--Color: #191D23;
    --pf-global--link--TextDecoration: underline;
    --pf-c-form-control--FontSize: 12px;
}

html, body {
    overflow-x: hidden;
    width: 100%;
    background:var(--white);
}

#app {
    background:var(--white);
    height: unset;
}

.pf-c-page {
    background:var(--white);
}

.pf-c-page__header {
    background-color: var(--sequent-header-bg);
    padding: 16px 0;
}

@media (max-width: 1170px) {
    .pf-c-page__header {
        padding: 9px;
    }
}

.pf-c-page__header-brand-link{
    cursor: unset;
    user-select: none;
}

@media (min-width: 0px) {
    .pf-c-brand {
        height: 37px;
    }
}

@media (min-width: 970px) {
    .pf-c-brand {
        height: 47px;
    }
}

.pf-c-page__header-brand-toggle{
    background-color: unset;
}

#nav-toggle{
    color: var(--sequent--primary-color);   
}

.pf-c-avatar{
    display: none;
}
.pf-c-page__header-tools-item:not(:has(a)) {
    display: none;
}
.pf-c-button.pf-m-link {
    color: var(--sequent--primary-color);
}

#page-sidebar{
    background-color: var(--white);

}

.pf-c-page__sidebar.pf-m-expanded{
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.pf-c-nav__link{
    background-color: unset;
    color: var(--pf-c-nav__link--Color);
}

.pf-c-nav__link:hover,
.pf-c-nav__link:active,
.pf-c-nav__link:focus
{
    background-color: unset;
    color: var(--sequent--primary-color);
    text-decoration: underline;
}

.pf-c-nav__link.pf-m-current{
    background-color: unset;
    color: var(--sequent--primary-color);
    text-decoration: underline;
}

.pf-c-nav__link.pf-m-current:hover,
.pf-c-nav__link.pf-m-current:active,
.pf-c-nav__link.pf-m-current:focus,
.pf-c-nav__item.pf-m-current:not(.pf-m-expanded) .pf-c-nav__link
{
    background-color: unset;
    color: var(--sequent--primary-color);
}

.pf-c-nav > .pf-c-nav__list > .pf-c-nav__item:nth-child(1) > a::before,
.pf-c-nav > .pf-c-nav__list > .pf-c-nav__item:nth-child(3) > a::before,
.pf-c-nav > .pf-c-nav__list > .pf-c-nav__item:nth-child(1) > a:hover::before,
.pf-c-nav > .pf-c-nav__list > .pf-c-nav__item:nth-child(3) > a:hover::before,
.pf-c-nav > .pf-c-nav__list > .pf-c-nav__item:nth-child(1) > a:focus::before,
.pf-c-nav > .pf-c-nav__list > .pf-c-nav__item:nth-child(3) > a:focus::before,
.pf-c-nav > .pf-c-nav__list > .pf-c-nav__item:nth-child(1) > a:active::before,
.pf-c-nav > .pf-c-nav__list > .pf-c-nav__item:nth-child(3) > a:active::before{
    border-bottom-width: 1px !important;
}

.pf-c-jump-links__link::before,
.pf-c-nav__link.pf-m-current::after
{
    border-color: var(--sequent--primary-color);
}

.pf-c-button{
    color: var(--white);
}

.pf-c-button.pf-m-primary,
.pf-c-button.pf-m-primary:hover,
.pf-c-button.pf-m-primary:focus,
.pf-c-button.pf-m-primary:active
{
    background-color: var(--sequent--primary-color) !important;
    color: var(--white) !important; 
}

.pf-c-page__main {
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#kc-header-wrapper {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 8px;
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNTEiIGhlaWdodD0iNDciIGZpbGw9Im5vbmUiPjxnIGNsaXAtcGF0aD0idXJsKCNwcmVmaXhfX2NsaXAwXzEzOF8zMTAzKSI+PHBhdGggZD0iTTg4LjQgMjguMTFjMC0xMC44LTIwLjIxLTIuNjQtMjAuMjEtMTYuMzIgMC00Ljg5IDQtOS42IDExLjY3LTkuNnMxMS42MSA0LjggMTEuNzYgMTFoLTMuNDFDODguMDcgOC41MyA4NSA1LjM2IDc5LjkgNS4zNmMtNS4xIDAtOC4yIDIuNS04LjIgNi4yOSAwIDkuOTQgMjAuMyAyLjQ5IDIwLjMgMTYuMjIgMCA1LjkxLTUuMTMgOS44LTEyLjc3IDkuOC04Ljc4IDAtMTIuNDgtNS4xNC0xMi43Mi0xMWgzLjQ2Yy4zOCA1LjE0IDQgNy44MyA5LjM2IDcuODMgNS41MiAwIDkuMDctMi4yMSA5LjA3LTYuMzl6TTEwMC4yMSAyNS43NmMuMzMgNC45NSAzLjU1IDguNzQgOC42OSA4Ljc0YTcuOTA5IDcuOTA5IDAgMDA3LjY4LTUuMTRoMy41NWExMS40MTEgMTEuNDExIDAgMDEtMTEuMjggOC4yMWMtNy43MyAwLTEyLTUuOTUtMTItMTIuODJTMTAxLjQ2IDEyIDEwOC44IDEyYzcuMzQgMCAxMS43NiA1LjU3IDExLjc2IDEyLjQ5djEuMjlsLTIwLjM1LS4wMnptLjA5LTIuNzZoMTYuODVjLS40My00LjcxLTMuNTUtNy45Mi04LjM1LTcuOTJzLTcuOTIgMy4zOC04LjUgNy45MnpNMTM2LjI5OSAzNy41N2MtNy40OCAwLTExLjUyLTYuMDUtMTEuNTItMTIuNzdzNC4wNC0xMi44IDExLjUyLTEyLjhjNC40NyAwIDcuNTkgMiA5LjI3IDUuMDl2LTQuNTNoMy4yNlY0N2gtMy40MVYzMi41OGMtMS42MyAyLjk3LTQuNjUgNC45OS05LjEyIDQuOTl6bS43LTIyLjUxYy01LjQ4IDAtOC43NCA0LjMyLTguNzQgOS43NHMzLjI2IDkuNzUgOC43NCA5Ljc1IDguNTktNC4zNyA4LjU5LTkuNzUtMy4xNC05Ljc0LTguNTktOS43NHpNMTU2LjUxIDI3LjczVjEyLjU2aDMuNDF2MTQuOTNjMCA0LjQyIDIuMzUgNy4xIDYuNzIgNy4xIDQuMzcgMCA2LjcyLTIuNjggNi43Mi03LjFWMTIuNTZoMy40MXYxNS4xN2MwIDUuNDItMy4yMiA5Ljg0LTEwLjEzIDkuODRzLTEwLjEzLTQuNDItMTAuMTMtOS44NHpNMTg2IDI1Ljc2Yy4zNCA0Ljk1IDMuNTUgOC43NCA4LjY5IDguNzRhNy45IDcuOSAwIDAwNy42OC01LjE0aDMuNTVhMTEuNDExIDExLjQxMSAwIDAxLTExLjI4IDguMjFjLTcuNzMgMC0xMi4wNS01Ljk1LTEyLjA1LTEyLjgyUzE4Ny4yMyAxMiAxOTQuNTcgMTJjNy4zNCAwIDExLjc3IDUuNTcgMTEuNzcgMTIuNDkgMCAuNTItLjA1IDEuMjktLjA1IDEuMjlMMTg2IDI1Ljc2em0uMS0yLjc4aDE2Ljg1Yy0uNDMtNC43MS0zLjU2LTcuOTItOC4zNi03LjkyLTQuOCAwLTcuOTQgMy40LTguNTEgNy45NGwuMDItLjAyek0yMTUuNjQ5IDE2LjNhOC44NjkgOC44NjkgMCAwMTguMDYtNC4zYzYgMCA5LjI2IDQgOS4yNiA5LjQxVjM3aC0zLjRWMjIuMDdjMC00LjQyLTIuMDctNy4xMS02LjQ0LTcuMTEtNC4xMiAwLTcuMzQgMi41OS03LjM0IDcuNDlWMzdoLTMuNDFWMTIuNTZoMy4yN3YzLjc0ek0yNDUgMzdoLTMuNDFWMTUuNDRIMjM3di0yLjg4aDQuNjV2LTdIMjQ1djdoNXYyLjg4aC01VjM3ek00OS43OCAxNi40YTguMiA4LjIgMCAxMDAtMTYuNCA4LjIgOC4yIDAgMDAwIDE2LjR6TTguMiAxNi40QTguMiA4LjIgMCAxMDguMiAwYTguMiA4LjIgMCAwMDAgMTYuNHpNOC4yIDM2LjI1YTguMiA4LjIgMCAxMDAtMTYuNCA4LjIgOC4yIDAgMDAwIDE2LjR6TTI4Ljk5IDM2LjI1YTguMiA4LjIgMCAxMC0uMDAxLTE2LjQgOC4yIDguMiAwIDAwMCAxNi40eiIgZmlsbD0iIzBGMDU0QyIvPjxwYXRoIGQ9Ik0yOC45OSAxNi40QTguMiA4LjIgMCAxMDI4Ljk4OCAwYTguMiA4LjIgMCAwMDAgMTYuNHoiIGZpbGw9IiM0M0UzQTEiLz48L2c+PGRlZnM+PGNsaXBQYXRoIGlkPSJwcmVmaXhfX2NsaXAwXzEzOF8zMTAzIj48cGF0aCBmaWxsPSIjZmZmIiBkPSJNMCAwaDI1MC4wMXY0Ni45OEgweiIvPjwvY2xpcFBhdGg+PC9kZWZzPjwvc3ZnPg==') center left no-repeat;
    background-origin: content-box;
    background-size: contain;
}

@media (min-width: 0px) {
    #kc-header-wrapper, #kc-locale-wrapper {
        height: 37px;
    }
}

@media (min-width: 970px) {
    #kc-header-wrapper, #kc-locale-wrapper {
        height: 47px;
    }
}

#kc-title {
    font-size: 29px;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 1.2em;
    white-space: normal;
    margin-bottom: 40px;
    text-align: center;
}

@media (max-width: 767px) {
    #kc-title {
        font-size: 16px;
        font-weight: bold;
        color: #72767b;
        letter-spacing: 0;
    }
}

#kc-info-wrapper {
    background-color: #ffffff;
}

.card-pf {
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    max-width: 500px;
    background: #FFFFFF;
    border: 2px solid rgba(0, 0, 0, 0.05);
    box-shadow: none;
    width: 100%;
}

.pf-c-button.pf-m-block {
    border-radius: 4px;
}

.menu-button-links::before {
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2NDAgNTEyIj48IS0tIUZvbnQgQXdlc29tZSBGcmVlIDYuNS4yIGJ5IEBmb250YXdlc29tZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUuY29tIExpY2Vuc2UgLSBodHRwczovL2ZvbnRhd2Vzb21lLmNvbS9saWNlbnNlL2ZyZWUgQ29weXJpZ2h0IDIwMjQgRm9udGljb25zLCBJbmMuLS0+PHBhdGggZD0iTTAgMTI4YzAtMzUuMyAyOC43LTY0IDY0LTY0aDUxMmMzNS4zIDAgNjQgMjguNyA2NCA2NHYyNTZjMCAzNS4zLTI4LjcgNjQtNjQgNjRINjRjLTM1LjMgMC02NC0yOC43LTY0LTY0VjEyOHptMzIwIDB2MjU2aDI1NlYxMjhIMzIwem0tMTQxLjcgNDcuOWMtMy4yLTcuMi0xMC40LTExLjktMTguMy0xMS45cy0xNS4xIDQuNy0xOC4zIDExLjlsLTY0IDE0NGMtNC41IDEwLjEuMSAyMS45IDEwLjIgMjYuNHMyMS45LS4xIDI2LjQtMTAuMmw4LjktMjAuMWg3My42bDguOSAyMC4xYzQuNSAxMC4xIDE2LjMgMTQuNiAyNi40IDEwLjJzMTQuNi0xNi4zIDEwLjItMjYuNGwtNjQtMTQ0ek0xNjAgMjMzLjJsMTkgNDIuOGgtMzhsMTktNDIuOHpNNDQ4IDE2NGMxMSAwIDIwIDkgMjAgMjB2NGg2MGMxMSAwIDIwIDkgMjAgMjBzLTkgMjAtMjAgMjBoLTJsLTEuNiA0LjVjLTguOSAyNC40LTIyLjQgNDYuNi0zOS42IDY1LjQuOS42IDEuOCAxLjEgMi43IDEuNmwxOC45IDExLjNjOS41IDUuNyAxMi41IDE4IDYuOSAyNy40cy0xOCAxMi41LTI3LjQgNi45TDQ2NyAzMzMuOGMtNC41LTIuNy04LjgtNS41LTEzLjEtOC41LTEwLjYgNy41LTIxLjkgMTQtMzQgMTkuNGwtMy42IDEuNmMtMTAuMSA0LjUtMjEuOS0uMS0yNi40LTEwLjJzLjEtMjEuOSAxMC4yLTI2LjRsMy42LTEuNmM2LjQtMi45IDEyLjYtNi4xIDE4LjUtOS44TDQxMCAyODYuMWMtNy44LTcuOC03LjgtMjAuNSAwLTI4LjNzMjAuNS03LjggMjguMyAwbDE0LjYgMTQuNi41LjVjMTIuNC0xMy4xIDIyLjUtMjguMyAyOS44LTQ1SDM3NmMtMTEgMC0yMC05LTIwLTIwczktMjAgMjAtMjBoNTJ2LTRjMC0xMSA5LTIwIDIwLTIweiIvPjwvc3ZnPg==') center left no-repeat;
}

#kc-locale-dropdown button {
    display: inline-flex;
    text-transform: uppercase;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #0F054C;
    letter-spacing: 0.02857em;
    /* margin-left: auto; */
    padding: 6px 12px;
    /* min-width: 64px; */
    /* min-height: 44px; */
    /* height: 44px; */
    text-align: center;
    vertical-align: middle;
    letter-spacing: 0.02857em;
    column-gap: 10px;
    /* margin-bottom: auto; */
    font-size: 14px;
    line-height: 24.5px;
    /* margin-top: auto; */
    align-items: center;
    justify-content: center;
    margin: auto;
}

.pf-c-dropdown__menu {
    position: relative;
}

.pf-c-form-control {
    border: 1px solid var(--pf-global--palette--black-200);
    border-radius: 4px;
}

.footer {
    width: 100%;
    background-color: var(--pf-global--BackgroundColor--100);
    text-align: center;
    color: var(--pf-global--palette--black-800);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    font-style: italic;
}

.footer p {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: rgb(25, 29, 35);
    font-family: Roboto, Helvetica, Arial, sans-serif;
}