<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="{{file_qrcode_lib}}"></script>
    <style type="text/css">
      body {
        margin: 0;
        padding: 0;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        background-color: #ffffff;
        font-family: serif;
        font-size: 14px;
      }
      table,
      td {
        border-collapse: collapse;
      }
      img {
        border: 0;
        height: auto;
        line-height: 100%;
        outline: none;
        text-decoration: none;
      }
      p,
      h1,
      h2,
      h3 {
        margin: 14px 0;
      }
      a {
        text-decoration: none;
        color: inherit;
      }

          .inspectors-title,
    .inspector-signature,
    .watchers-title,
    .watcher-signature {
      page-break-inside: avoid;
      font-family: "Book Antiqua";
      font-size: 10pt;
    }

    .inspectors-title td,
    .watchers-title td {
      text-transform: uppercase;
      text-align: center;
      padding: 30px;
      font-size: 11pt;
    }

    .inspectors-title td {
      padding-bottom: 10px;
    }

    .inspector-name {
      text-decoration: underline;
    }

    .inspector-signature td {
      text-align: center;
      margin: 0 auto;
      padding: 15px;
    }

    .inspector-signature td .box {
      margin: 0 auto;
      width: 120px;
      height: 120px;
      border: 1px solid black;
    }

    .inspector-signature td strong {
      text-transform: uppercase;
    }

    .watchers-title td {
      text-align: center;
      padding-bottom: 0 !important;
    }

    .watcher-signature td {
      padding-top: 40px;
      text-align: center;
    }

    .watcher-signature td hr {
      margin: 0 auto;
      width: 190px;
      border-top: 1px solid black;
    }

    .watcher-signature td p {
      margin-top: 0;
    }
    </style>
  </head>
  <body style="background-color: #ffffff">
    {{{rendered_user_template}}}
  </body>
</html>
