{{!--
SPDX-FileCopyrightText: 2024 Sequent Tech <legal@sequentech.io>
  SPDX-License-Identifier: AGPL-3.0-only
  --}}

  <html lang="en-US">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Election Returns for National Positions</title>
    <script src="{{file_qrcode_lib}}"></script>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');

      body {
        font-family: 'Manrope', Arial, sans-serif;
        margin: auto;
        max-width: 1024px;
        padding: 0 30px;
      }

      @media print {
        @page {
          size: auto;
          margin: 0.6in;  /* or margin: 0.6in 0.6in; for all sides */
        }

        body {
          width: 100%;
          font-size: 9px;
          margin: 0;
          padding: 0;
        }

        .next-page {
          page-break-after: always;
        }

        .report {
          margin: 0 auto;
          page-break-after: always;
        }
      }

      .report {
        margin: 0 auto;
        page-break-after: always;
      }

      .header,
      .header-space {
        height: 100px;
      }

      .logo {
        padding-top: 10px;
      }

      .footer,
      .footer-space {
        height: 100px;
      }

      .header {
        position: fixed;
        top: 0.3in;
        width: 100%;
        text-align: center;
      }

      .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: right;
      }

      table {
        width: 100%;
      }

      .content {
        break-after: page;
        padding-top: 120px;
      }

      .content .title {
        text-align: center;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        padding: 20px 50px;
      }

      .content h2 {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.01em;
        margin: 12px 0;
      }

      .content h3 {
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        margin: 40px 0 10px 0;
      }

      .content table {
        border-collapse: collapse;
        margin: 20px 0;
        width: 100%;
      }

      .content th,
      .content td {
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        padding: 16px;
        font-weight: 500;
        font-size: 10px;
        line-height: 14px;
        letter-spacing: 0.02em;
        color: rgba(0, 0, 0, 0.87);
      }

      .content th {
        text-align: center;
        font-weight: 700;
        font-size: 12px;
        line-height: 17px;
        padding: 6px 16px 16px;
      }

      .content td {
        background: rgba(0, 0, 0, 0.001);
      }

      .content table tr:first-child th,
      .content table tr:first-child td {
        border-top: 1px solid rgba(0, 0, 0, 0.12);
      }

      .top-header {
        margin: 16px 0;
        margin-top: 5px;
        font-size: 8pt;
      }

      .top-header .left {
        text-align: left;
        font-style: italic;

      }

      .top-header .right {
        text-transform: uppercase;
        text-align: right;
      }

      .main-header {
        margin: 16px 0;
        width: 100%;
      }

      .main-header .left img {
        max-width: 125px;
        margin-top: 8px;
        text-align: left;
        vertical-align: top;

      }

      .main-header .center {
        text-align: center;
        padding-top: 10px;
      }

      .main-header .right img {
        max-width: 90px;
        margin-top: 8px;
        text-align: right;
        vertical-align: top;
      }

      .main-header .center .country {
        font-weight: 100;
        font-size: 11pt;
        text-transform: uppercase;
      }

      .main-header .center .commission {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12pt;

      }

      .main-header .center .election-date {
        text-transform: uppercase;
      }

      .main-header .center .election-name {
        text-transform: uppercase;
      }

      .main-header .center .online {
        padding-top: 25px;
        text-transform: uppercase;
        font-weight: bold;
      }

      .main-title .voting-period {
        padding-top: 3px;
        font-size: 10pt;
        font-weight: lighter;
        font-style: italic;
      }

      .main-title {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12pt;
      }

      .stats-table {
        width: 100%;
        margin: 32px 0px;
      }

      .stats-table tr {
        vertical-align: top;
      }

      .stats-table .first-col {
        width: 50%;
      }

      .stats-table .second-col {
        width: 50%;
      }

      .stats-table .precint-id {
        padding-bottom: 30px;
      }

      .stats-table .key {
        font-size: 10pt;
        font-weight: bold;
        text-align: right;
      }

      .stats-table .value {
        font-size: 10pt;
        text-align: left;
      }

      .candidates {
        border-collapse: collapse;
        background-color: white;
        margin-top: 16px;
        margin-bottom: 24px;
        width: 100%;
      }

      .candidates thead td {
        background: rgba(0, 0, 0, 0.001);
        font-weight: 700;
        font-size: 10px;
        line-height: 14px;
        letter-spacing: 0.02em;
        color: rgba(0, 0, 0, 0.87);
        text-align: center;
        padding: 16px 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      }

      .candidates thead tr:first-child td {
        padding: 6px 16px 16px;
        font-size: 12px;
        line-height: 17px;
        font-weight: 700;
        text-align: center;
      }

      .candidates thead tr:first-child td:first-child {
        text-align: left;
        vertical-align: middle;
        padding: 16px;
        font-size: 10px;
      }

      .candidates thead tr:nth-child(2) td {
        padding: 16px 10px;
        font-size: 10px;
        line-height: 14px;
        font-weight: 700;
        text-align: center;
      }

      .candidates thead tr:nth-child(2) td:first-child {
        text-align: left;
        padding: 16px;
      }

      .candidates tbody tr {
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      }

      .candidates tbody td {
        text-align: center;
        vertical-align: top;
        background: rgba(0, 0, 0, 0.001);
        padding: 16px 10px;
        font-weight: 500;
        font-size: 10px;
        line-height: 14px;
        letter-spacing: 0.02em;
        color: rgba(0, 0, 0, 0.87);
      }

      .candidates tbody td:first-child {
        text-align: left;
        width: auto;
        min-width: 150px;
      }

      .candidates tbody td {
        width: 100px;
      }

      .eliminated-text {
        color: #DC2626;
        font-weight: 700;
      }

      .winner-text {
        color: #16A34A;
        font-weight: 700;
      }

      .vote-for {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        margin: 8px 0;
        color: rgba(0, 0, 0, 0.87);
      }

      .contest-desc {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: center;
        margin: 12px 0;
      }

      .paragraph {
        font-size: 10pt;
        margin-top: 12px;
        margin-bottom: 12px;
        text-align: left;
      }

      .paragraph strong::first-line {
        text-indent: 50px;
      }

      .inspectors-title,
      .inspector-signature,
      .watchers-title,
      .watcher-signature {
        page-break-inside: avoid;
        font-size: 10pt;
      }

      .inspectors-title td,
      .watchers-title td {
        text-transform: uppercase;
        text-align: center;
        padding: 30px;
        font-size: 11pt;
      }

      .inspector-signature td {
        text-align: center;
        margin: 0 auto;
        padding: 15px;
      }

      .inspector-signature td .box {
        margin: 0 auto;
        width: 120px;
        height: 120px;
        border: 1px solid black;
      }

      .inspector-signature td strong {
        text-transform: uppercase;
      }

      .watchers-title td {
        text-align: center;
        padding-bottom: 0 !important;
      }

      .watcher-signature td {
        padding-top: 40px;
        text-align: center;
      }

      .watcher-signature td hr {
        margin: 0 auto;
        width: 190px;
        border-top: 1px solid black;
      }

      .watcher-signature td p {
        margin-top: 0;
      }

      .qr-codes td {
        text-align: center;
        padding: 12px;
      }

      .qrcode {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        page-break-inside: avoid;
      }

      .sys-info {
        page-break-inside: avoid;
        text-align: center;
        padding: 10px;
      }

      .sys-info td div {
        font-family: "Arial", sans-serif;
        font-size: 11pt;
        text-align: center;
        margin-top: 24px;
        line-height: 15pt;
        padding-bottom: 40px;
      }

      tr.report-end td {
        text-align: center;
        margin: 16px 0;
        margin-top: 30px;
        text-transform: uppercase;
      }

      tr.report-end hr {
        text-align: center;
        margin: 0 24px;
        border-top: 3px solid black;
      }


      .logo-printer-block {
        display: none;
      }
    </style>
  </head>

  <body>
    {{{rendered_user_template}}}
  </body>

  </html>