{{!--
 SPDX-FileCopyrightText: 2025 Sequent Tech Inc <legal@sequentech.io>
SPDX-License-Identifier: AGPL-3.0-only
--}}

<div>
  {{{logo}}}
</div>
<div>
  <h2>Authenticate to Vote</h2>
  <p>
    The link below allows you to authenticate
    after having performed Manual Verification (Valid for 15 miutes):
  </p>
  <div class="info">
    <p>
      <a href="{{manual_verification_url}}">Login Link</a>
    </p>
  </div>
</div>
<div>
  <p>
    You can also enter the link using the following QR code:
  </p>
  {{{qrcode}}}
</div>


<script>
  const qrcode = new QRCode(document.getElementById("qrcode"), {
    text: "{{{manual_verification_url}}}",
    width: 480,
    height: 480,
    colorDark: '#000000',
    colorLight: '#ffffff',
    correctLevel: QRCode.CorrectLevel.M,
  });
</script>