<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="{{file_qrcode_lib}}"></script>
    <style type="text/css">
      body {
        margin: 0;
        padding: 0;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        background-color: #ffffff;
        font-family: serif;
        font-size: 14px;
      }
      table,
      td {
        border-collapse: collapse;
      }
      img {
        border: 0;
        height: auto;
        line-height: 100%;
        outline: none;
        text-decoration: none;
      }
      p,
      h1,
      h2,
      h3 {
        margin: 14px 0;
      }
      a {
        text-decoration: none;
        color: inherit;
      }
    </style>
  </head>
  <body style="background-color: #ffffff">
    {{{rendered_user_template}}}
  </body>
  <script>
    const qrcode = new QRCode(document.getElementById("qrcode"), {
      text: "{{qr_code}}",
      width: 480,
      height: 480,
      colorDark: "#000000",
      colorLight: "#ffffff",
      correctLevel: QRCode.CorrectLevel.M,
    });
  </script>
</html>
