/*
 * SPDX-FileCopyrightText: 2024 Sequent Tech <legal@sequentech.io>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

/*
  For example you can replace the fonts of your company
  Default fonts: Dob-Font-Bold(title subtitle, button) & Dob-Font-Regular(lead, body)
*/

/*
 * ----------------------
 * DEMO
 * ----------------------
 */
html {
  line-height: 1.4;
  height: -webkit-fill-available;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

body {
  margin: 0;
  padding: 0;
  overflow: auto;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

.inetum-header {
  width: 100%;
  height: 8vh;
  overflow: hidden;
  position: relative;
  z-index: 10;
}

.inetum-header img {
  width: 0px;
  -o-object-fit: contain;
  object-fit: contain;
  height: 0px;
  background-image: url("../images/sequent-logo.png");
  background-size: contain;
  background-position: center;
  padding: 2.5vh 50vw 2.5vh 50vw;
  margin-top: 1.5vh;
  background-repeat: no-repeat;
  border-style: none;
}

.dob-container {
  height: calc(100% - 8vh);
  width: 100%;
  position: absolute;
}

.dob-attach-messages {
  padding: 10px;
  font-size: 2.4vh;
}

.dob-attach-messages h2 {
  margin: 0;
}

.dob-attach-messages h3 {
  font-size: 0.8em;
  margin: 0.5;
}

/*
 * ----------------------
 * FONTS
 * ----------------------
 */
@font-face {
  font-family: "Dob-Font-Bold";
  src: url("../fonts/poppins_bold.ttf") format("truetype");
}

@font-face {
  font-family: "Dob-Font-Regular";
  src: url("../fonts/poppins_regular.ttf") format("truetype");
}

/*
 * ----------------------
 * INITIAL STEP
 * ----------------------
 */
#dob-initial-information-layout .dob-title-text {
  font-family: "Dob-Font-Bold";
}

#dob-initial-information-layout .dob-subtitle-text {
  font-family: "Dob-Font-Bold";
}

#dob-initial-information-layout .dob-lead-text {
  font-family: "Dob-Font-Regular";
}

#dob-initial-information-layout .dob-button {
  font-family: "Dob-Font-Bold";
}

#dob-initial-information-layout .dob-card-front-icon {
  background: url("../images/icons/card_front_icon.svg") no-repeat center;
}

#dob-initial-information-layout .dob-card-back-icon {
  background: url("../images/icons/card_back_icon.svg") no-repeat center;
}

#dob-initial-information-layout .dob-user-face-icon {
  background: url("../images/icons/user_face_icon.svg") no-repeat center;
}

/* Ejemplo en caso de pasaporte (modificamos icono y ocultamos row del reverso)
#dob-initial-information-layout .dob-card-front-icon {
  background: url("../images/icons/passport_icon.svg") no-repeat
    center;
}
#dob-initial-information-layout .dob-card-back-icon {
  background: url("../images/icons/passport_icon.svg") no-repeat
    center;
}
*/

/*
 * ----------------------
 * INSTRUCTIONS STEP
 * ----------------------
 */
#dob-instructions-information-layout .dob-title-text {
  font-family: "Dob-Font-Bold";
}

#dob-instructions-information-layout .dob-lead-text {
  font-family: "Dob-Font-Regular";
}

#dob-instructions-information-layout .dob-button {
  font-family: "Dob-Font-Bold";
}

/*
 * ----------------------
 * DOC-CAPTURE STEP     | ONLY DESIGN GENERIC
 * ----------------------
 */
#dob-doc-capture .dob-body-text {
  font-family: "Dob-Font-Regular";
}

/*
 * ----------------------
 * VIDEO IDENTIF. STEP  | ONLY DESIGN GENERIC
 * ----------------------
 */
#dob-video-identification .dob-body-text {
  font-family: "Dob-Font-Regular";
}

/*
 * ----------------------
 * FACE-CAPTURE STEP    | ONLY DESIGN GENERIC
 * ----------------------
 */
#dob-face-capture-message .dob-body-text {
  font-family: "Dob-Font-Regular";
}

#dob-face-capture-snackbar .dob-body-text {
  font-family: "Dob-Font-Regular";
}

#dob-face-capture-counter .dob-body-text {
  font-family: "Dob-Font-Regular";
}

/*
 * ----------------------
 * ATTACH STEP
 * ----------------------
 */
#dob-attach .dob-subtitle-text {
  font-family: "Dob-Font-Bold";
}

#dob-attach .dob-button {
  font-family: "Dob-Font-Bold";
}

#dob-attach .dob-check-icon {
  background: url("../images/icons/check_icon.svg") no-repeat center;
}

/*
 * ----------------------
 * OTP STEP
 * ----------------------
 */
 #dob-otp-step .dob-title-text {
  font-family: "Dob-Font-Regular";
}

#dob-otp-step .dob-body-text {
  font-family: "Dob-Font-Regular";
}

#dob-otp-step .dob-input-text {
  font-family: "Dob-Font-Regular";
}

#dob-otp-step .dob-button {
  font-family: "Dob-Font-Bold";
}

/*
 * ----------------------
 * END STEP
 * ----------------------
 */
#dob-end-information-layout .dob-title-text {
  font-family: "Dob-Font-Bold";
}

#dob-end-information-layout .dob-subtitle-text {
  font-family: "Dob-Font-Bold";
}

#dob-end-information-layout .dob-lead-text {
  font-family: "Dob-Font-Regular";
}

#dob-end-information-layout .dob-button {
  font-family: "Dob-Font-Bold";
}

#dob-end-information-layout .dob-card-front-icon {
  background: url("../images/icons/card_front_icon.svg") no-repeat center;
}

#dob-end-information-layout .dob-card-back-icon {
  background: url("../images/icons/card_back_icon.svg") no-repeat center;
}

#dob-end-information-layout .dob-user-face-icon {
  background: url("../images/icons/user_face_icon.svg") no-repeat center;
}

#dob-end-information-layout .dob-check-icon {
  background: url("../images/icons/check_icon.svg") no-repeat center;
}

/* Ejemplo en caso de pasaporte (modificamos icono y ocultamos row del reverso)
#dob-end-information-layout .dob-card-front-icon {
  background: url("../images/icons/passport_icon.svg") no-repeat
    center;
}
#dob-end-information-layout .dob-card-back-icon {
  background: url("../images/icons/passport_icon.svg") no-repeat
    center;
}
*/

/*
 * ----------------------
 * EXCEPTION VIEW
 * ----------------------
 */
#dob-exception-information-layout .dob-body-text {
  font-family: "Dob-Font-Regular";
}

#dob-exception-information-layout .dob-button {
  font-family: "Dob-Font-Bold";
}

/*
 * ----------------------
 * HELP DIALOG VIEW     | ONLY DESIGN GENERIC
 * ----------------------
 */
#dob-help-dialog .dob-title-text {
  font-family: "Dob-Font-Bold";
}

#dob-help-dialog .dob-body-text {
  font-family: "Dob-Font-Regular";
}

#dob-help-dialog .dob-button {
  font-family: "Dob-Font-Bold";
}

/*
 * ----------------------
 * MANUAL CAPTURE VIEW  | ONLY DESIGN GENERIC
 * ----------------------
 */
#dob-manual-instructions .dob-title-text {
  font-family: "Dob-Font-Bold";
}

#dob-manual-instructions .dob-lead-text {
  font-family: "Dob-Font-Regular";
}

#dob-manual-instructions .dob-camera-icon {
  background: url("../images/icons/camera_icon.svg") no-repeat center;
}

/*
 * ----------------------
 * PREVIEW VIEW         | ONLY DESIGN GENERIC
 * ----------------------
 */
#dob-preview .dob-lead-text {
  font-family: "Dob-Font-Regular";
}

#dob-preview .dob-button-accept .dob-button {
  font-family: "Dob-Font-Bold";
}

#dob-preview .dob-button-repeat .dob-button {
  font-family: "Dob-Font-Bold";
}

/*
 * ----------------------
 * PREVIEW VIEW         | ONLY DESIGN RESPONSIVE
 * ----------------------
 */
#dob-attach-preview .dob-body-text {
  font-family: "Dob-Font-Regular";
}

#dob-attach-preview .dob-button-accept .dob-button {
  font-family: "Dob-Font-Bold";
}

#dob-attach-preview .dob-button-repeat .dob-button {
  font-family: "Dob-Font-Bold";
}

/*
 * ----------------------
 * LOADER VIEW
 * ----------------------
 */
#dob-loader .dob-body-text {
  font-family: "Dob-Font-Regular";
}

/*
 * ----------------------
 * TOOLBAR COMPONENT
 * ----------------------
 */
#dob-secondary-toolbar .dob-subtitle-text {
  font-family: "Dob-Font-Bold";
}

#dob-secondary-toolbar .dob-card-front-icon {
  background: url("../images/icons/card_front_icon.svg") no-repeat center;
}

/* Ejemplo en caso de pasaporte (modificamos icono)
#dob-secondary-toolbar .dob-card-front-icon {
  background: url("../images/icons/passport_icon.svg") no-repeat
    center;
}
#dob-secondary-toolbar .dob-card-back-icon {
  background: url("../images/icons/passport_icon.svg") no-repeat
    center;
}
*/

#dob-secondary-toolbar .dob-card-back-icon {
  background: url("../images/icons/card_back_icon.svg") no-repeat center;
}

#dob-secondary-toolbar .dob-user-face-icon {
  background: url("../images/icons/user_video_icon.svg") no-repeat center;
}

#dob-secondary-toolbar .dob-warning-icon {
  background: url("../images/icons/warning_icon.svg") no-repeat center;
}

#dob-secondary-toolbar .dob-info-icon {
  background: url("../images/icons/info_icon.svg") no-repeat center;
}

#dob-secondary-toolbar .dob-exit-icon {
  background: url("../images/icons/exit_icon.svg") no-repeat center;
}

/*
 * ----------------------
 * INFOBAR COMPONENT    | ONLY DESIGN GENERIC
 * ----------------------
 */
#dob-infobar .dob-body-text {
  font-family: "Dob-Font-Regular";
}

#dob-infobar .dob-card-front-icon {
  background: url("../images/icons/card_front_icon.svg") no-repeat center;
}

#dob-infobar .dob-card-back-icon {
  background: url("../images/icons/card_back_icon.svg") no-repeat center;
}

#dob-infobar .dob-user-face-icon {
  background: url("../images/icons/user_face_icon.svg") no-repeat center;
}

#dob-infobar .dob-cloud-icon {
  background: url("../images/icons/cloud_icon.svg") no-repeat center;
}

#dob-infobar .dob-check-icon {
  background: url("../images/icons/check_icon.svg") no-repeat center;
}

/*
 * ---------------------------
 * HELP ORIENTATION COMPONENT
 * ---------------------------
 */
#dob-help-orientation .dob-title-text {
  font-family: "Dob-Font-Bold";
}

/*
 * ----------------------
 * MEDIA QUERIES
 * ----------------------
 */

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
