/*
SPDX-FileCopyrightText: 2023 Eduardo Robles <edu@sequentech.io>

SPDX-License-Identifier: AGPL-3.0-only
*/

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
    --ifm-color-primary: rgb(1, 32, 58);
    --ifm-color-primary-dark: darken(var(--ifm-color-primary), 10%);
    --ifm-color-primary-darker: darken(var(--ifm-color-primary), 20%);
    --ifm-color-primary-darkest: darken(var(--ifm-color-primary), 30%);
    --ifm-color-primary-light: lighten(var(--ifm-color-primary), 10%);
    --ifm-color-primary-lighter: lighten(var(--ifm-color-primary), 20%);
    --ifm-color-primary-lightest: lighten(var(--ifm-color-primary), 30%);
    --ifm-color-secondary: rgb(0, 228, 162);
    --ifm-color-secondary-dark: darken(var(--ifm-color-secondary), 10%);
    --ifm-color-secondary-darker: darken(var(--ifm-color-secondary), 20%);
    --ifm-color-secondary-darkest: darken(var(--ifm-color-secondary), 30%);
    --ifm-color-secondary-light: lighten(var(--ifm-color-secondary), 10%);
    --ifm-color-secondary-lighter: lighten(var(--ifm-color-secondary), 20%);
    --ifm-color-secondary-lightest: lighten(var(--ifm-color-secondary), 30%);
    --ifm-code-font-size: 95%;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
    --ifm-navbar-link-hover-color: var(--ifm-color-secondary);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
    --ifm-color-primary: rgb(0, 228, 162);
    --ifm-color-primary-dark: darken(var(--ifm-color-primary), 10%);
    --ifm-color-primary-darker: darken(var(--ifm-color-primary), 20%);
    --ifm-color-primary-darkest: darken(var(--ifm-color-primary), 30%);
    --ifm-color-primary-light: lighten(var(--ifm-color-primary), 10%);
    --ifm-color-primary-lighter: lighten(var(--ifm-color-primary), 20%);
    --ifm-color-primary-lightest: lighten(var(--ifm-color-primary), 30%);
    --ifm-color-secondary: white;
    --ifm-color-secondary-dark: darken(var(--ifm-color-secondary), 10%);
    --ifm-color-secondary-darker: darken(var(--ifm-color-secondary), 20%);
    --ifm-color-secondary-darkest: darken(var(--ifm-color-secondary), 30%);
    --ifm-color-secondary-light: lighten(var(--ifm-color-secondary), 10%);
    --ifm-color-secondary-lighter: lighten(var(--ifm-color-secondary), 20%);
    --ifm-color-secondary-lightest: lighten(var(--ifm-color-secondary), 30%);
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
    --ifm-navbar-link-hover-color: var(--ifm-color-primary);
}

/* Add some margin to the logo's side */
.navbar__logo img {
    margin-right: 1.5em;
}

/* Show the logo in transparent-and-white in dark theme */
[data-theme='dark'] .navbar__logo img {
    filter: brightness(0) invert(100%);
}

/* Do not show svg icon in top navbar external links */
.navbar--fixed-top a[target="_blank"] svg {
    display: none;
}

[data-theme='light'] .footer--dark {
    --ifm-footer-background-color: var(--ifm-color-primary);
    --ifm-footer-color: var(--ifm-color-white);
    --ifm-footer-link-color: var(--ifm-color-white);
    --ifm-footer-title-color: var(--ifm-color-white);
}

[data-theme='light'] .button.button--secondary.button--outline:not(.button--active):not(:hover) {
    color: var(--ifm-color-white);
}

p a, article li a {
    text-decoration: underline;
}

p a:hover, article li a:hover {
    text-decoration: none;
}