/*
SPDX-FileCopyrightText: 2024 Sequent Tech <legal@sequentech.io>

SPDX-License-Identifier: AGPL-3.0-only
*/

.pf-c-brand {
    height: 47px;
    width: auto;
  }
  
  @media (max-width: 960px) {
    .pf-c-brand {
      height: 37px;
    }
  }
  
  @media (max-width: 480px) {
    .pf-c-brand {
      height: 30px;
    }
  }
  
  @media (max-width: 240px) {
    .pf-c-brand {
      height: 20px;
    }
  }
  
  @media (max-width: 160px) {
    .pf-c-brand {
      height: 10px;
    }
  }
  