/*
SPDX-FileCopyrightText: 2023 Félix Robles <felix@sequentech.io>

SPDX-License-Identifier: AGPL-3.0-only
*/
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-root:has(div > .start-screen) {
  background-image: linear-gradient(1deg, #ffffff, transparent),url('https://www.alliedpilots.org/-/media/AlliedPilots/BackgroundBanners/13.jpg')!important;

  .header-class, .footer-class {
    background-color: unset;
  }

  .app-version {
    background: unset;
  }
}
