# SPDX-FileCopyrightText: 2025 Sequent Tech Inc <legal@sequentech.io>
#
# SPDX-License-Identifier: AGPL-3.0-only

# Step-specific docker-compose that includes base services and step's keycloak

include:
  - docker-compose-base.yml

services:
  keycloak:
    profiles: ["full", "base"]
    container_name: keycloak
    build:
      context: ../packages/
      dockerfile: Dockerfile.keycloak
    restart: always
    ports:
      - 8090:8090
    environment:
      AMQP_ADDR: ${AMQP_ADDR}
      KC_HOSTNAME: ${KC_HOSTNAME}
      KC_HOSTNAME_STRICT: ${KC_HOSTNAME_STRICT}
      KC_HTTP_PORT: ${KC_HTTP_PORT}
      KC_DB: ${KC_DB}
      KC_LOG_LEVEL: ${LOG_LEVEL}
      KC_DB_USERNAME: ${KC_DB_USERNAME}
      KC_DB_PASSWORD: ${KC_DB_PASSWORD}
      KC_DB_SCHEMA: ${KC_DB_SCHEMA}
      KC_DB_URL_HOST: ${KC_DB_URL_HOST}
      KC_DB_URL_PORT: ${KC_DB_URL_PORT}
      KC_DB_URL_DATABASE: ${KC_DB_URL_DATABASE}
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
      KEYCLOAK_URL: ${KEYCLOAK_URL}
      KEYCLOAK_CLIENT_ID: ${KEYCLOAK_CLIENT_ID}
      SUPER_ADMIN_TENANT_ID: ${SUPER_ADMIN_TENANT_ID}
      KEYCLOAK_CLIENT_SECRET: ${KEYCLOAK_CLIENT_SECRET}
      APP_VERSION: ${APP_VERSION}
      APP_HASH: ${APP_HASH}
      KC_OTP_RESEND_INTERVAL: ${KC_OTP_RESEND_INTERVAL}
      HARVEST_DOMAIN: ${HARVEST_DOMAIN}
      HASURA_ENDPOINT: ${HASURA_ENDPOINT}
      TWILIO_ACCOUNT_SID: ${TWILIO_ACCOUNT_SID}
      TWILIO_AUTH_TOKEN: ${TWILIO_AUTH_TOKEN}
      TWILIO_SERVICE_SID: ${TWILIO_SERVICE_SID}
      ENV_SLUG: ${ENV_SLUG}
    volumes:
      # https://www.keycloak.org/server/containers#_importing_a_realm_on_startup
      - ./keycloak/import:/opt/keycloak/data/import:z
    # Below we're using the dummy email email sender provider but that's just for
    # development, in production we should still use the default SMTP email provider
    #
    # We are doing the same to configure the dummy sms sender provider
    #
    # More info here: https://www.keycloak.org/server/configuration-provider
    entrypoint: >
      /opt/keycloak/bin/kc.sh start-dev
      --features=preview
      --health-enabled=true
      --spi-user-profile-declarative-user-profile-read-only-attributes=area-id,tenant-id
      --spi-user-profile-declarative-user-profile-admin-read-only-attributes=sequent.admin-read-only.*
      -Dkeycloak.profile.feature.upload_scripts=enabled
      --spi-email-sender-provider=dummy
      --spi-email-sender-dummy-enabled=true
      --spi-email-sender-default-enabled=false
      --spi-sms-sender-provider=dummy
      --spi-sms-sender-dummy-enabled=true
      --spi-sms-sender-aws-enabled=false
      --import-realm
    depends_on:
      postgres-keycloak:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://127.0.0.1:8090/health/live"]
      interval: 5s
      timeout: 10s
      retries: 25
      start_period: 5s
