# SPDX-FileCopyrightText: 2023 Felix Robles <felix@sequentech.io>
#
# SPDX-License-Identifier: AGPL-3.0-only
[package]
name = "windmill-tasks"
version = "0.1.0"
edition = "2021"
authors = [
  "Felix Robles <felix@sequentech.io>"
]
license = "AGPL-3.0-only"

[dependencies]
rocket = { version = "=0.5.0-rc.3", features = ["json"] }
serde = "1.0.174"
reqwest = { version="0.11.18", features = ["blocking", "json"] }
anyhow = "1.0.75"
graphql_client = "0.13.0"
strum = "0.25"
strum_macros = "0.25"
base64 = "0.21.0"
serde_json = "1.0.105"

# logging
tracing = "0.1.37"

immu-board = { path="../immu-board" }
braid = { path="../braid" }
strand = { path="../strand" }
