/*
 * ----------------------
 * DEMO
 * ----------------------
 */
 html {
  line-height: 1.4;
  height: -webkit-fill-available;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

body {
  margin: 0;
  padding: 0;
  overflow: auto;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

@media (min-width: 768px) {
  .login-pf-page .login-pf-page-header {
    margin-bottom: 20px !important;
  }
}

#kc-title {
  display: none;
}

.inetum-header {
  width: 100%;
  height: 8vh;
  overflow: hidden;
  position: relative;
  z-index: 10;
}

.inetum-header img {
  width: 0px;
  -o-object-fit: contain;
  object-fit: contain;
  height: 0px;
  background-image: url("../images/sequent-logo.png");
  background-size: contain;
  background-position: center;
  padding: 2.5vh 50vw 2.5vh 50vw;
  margin-top: 1.5vh;
  background-repeat: no-repeat;
  border-style: none;
}

.dob-button {
  border-radius: 4px !important;
}

@media (min-width: 992px) {
  .dob-informative-step-layout {
      grid-template-rows: auto auto 1fr !important;
  }
}

.dob-attach-messages {
  padding: 10px;
  font-size: 2.4vh;
}

.dob-attach-messages h2 {
  margin: 0;
}

.dob-attach-messages h3 {
  font-size: 0.8em;
  margin: 0.5;
}

@media (min-width: 1200px) {
  #dob-help-orientation {
    visibility: hidden;
  }
}

/*
 * ------------
 * Sizings of screens (Sequent)
 * ------------
 */
 @media (min-width: 768px) {
  #dob-main-container .dob-background .dob-instruction-template__header {
    padding-bottom: 0;
  }
  #dob-main-container .dob-background .dob-text--lead {
    font-size: 1.1rem;
  }
  #dob-main-container .dob-background .dob-initial-step__rows-container {
    gap: 0.3rem;
  }
  #dob-main-container .dob-background .dob-instruction-template__footer {
    padding-top: 0;
    margin-top: -40px;
  }
}

@media (min-width: 1200px) {
  #dob-main-container .dob-background .dob-text--lead {
    font-size: 1.3rem;
  }
  #dob-main-container .dob-background .dob-initial-step__rows-container {
    gap: 0.3rem;
  }
}

@media (min-width: 992px) {
  #dob-main-container .dob-background .dob-initial-step__rows-container {
    gap: 0.3rem;
  }
}

/*
 * ------------
 * FONTS
 * ------------
 */
 @font-face {
  font-family: 'Dob-Font-Bold';
  src: url('../fonts/poppins_bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Dob-Font-Regular';
  src: url('../fonts/poppins_regular.ttf') format('truetype');
}

:root {
  --dob-font-bold-name: 'Dob-Font-Bold';
  --dob-font-regular-name: 'Dob-Font-Regular';
}

/*
 * ------------
 * CONTAINER
 * ------------
 */
.dob-sdk-root-container {
  height: max(85vh, 572px);
  width: 1170px;
  position: relative;
  margin: 0 auto;
  margin-bottom: auto;
  border: 2px solid rgba(0, 0, 0, 0.05);
}
@media (min-width: 1200px) {
  #dob-main-container {
    background-color: white;
    border-radius: 3px;
  }
}

@media (max-width: 1200px) {
  .dob-sdk-root-container {
    height: max(75vh, 572px);
    width: 100%;
    position: relative;
    max-width: 1170px;
    margin: 0 auto;
    margin-bottom: auto;
    border: 0;
  }
}

/*
 * ------------
 * TOOLTIP
 * ------------
 */
.dob-tooltip{position:absolute;display:none;padding:.25em .5rem;max-width:12.5rem;pointer-events:none}.dob-tooltip.dob-tooltip-left,.dob-tooltip.dob-tooltip-right{padding:0 .25rem}.dob-tooltip.dob-tooltip-bottom,.dob-tooltip.dob-tooltip-top{padding:.25em 0}.dob-tooltip-arrow{scale:2;position:absolute;width:0;height:0;border-color:transparent;border-style:solid}.dob-tooltip-right .dob-tooltip-arrow{top:50%;left:0;margin-top:-.25rem;border-width:.25em .25em .25em 0}.dob-tooltip-left .dob-tooltip-arrow{top:50%;right:0;margin-top:-.25rem;border-width:.25em 0 .25em .25rem}.dob-tooltip-top .dob-tooltip-arrow{bottom:0;left:50%;margin-left:-.25rem;border-width:.25em .25em 0}.dob-tooltip-bottom .dob-tooltip-arrow{top:0;left:50%;margin-left:-.25rem;border-width:0 .25em .25rem}.dob-tooltip .dob-tooltip-text{white-space:pre-line;word-break:break-word;background:#fff;padding:.5rem;box-shadow:0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);border-radius:4px}.dob-tooltip.dob-tooltip-right .dob-tooltip-arrow{border-right-color:#fff}.dob-tooltip.dob-tooltip-left .dob-tooltip-arrow{border-left-color:#fff}.dob-tooltip.dob-tooltip-top .dob-tooltip-arrow{border-top-color:#fff}.dob-tooltip.dob-tooltip-bottom .dob-tooltip-arrow{border-bottom-color:#fff}

/*
 * ------------
 * CONFIRMATION
 * ------------
 */
.confirmation-buttons-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 4rem 0;
}

.confirmation-buttons-container{
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.confirmation-button{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 800;
  padding: 16px 36px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
}

.confirmation-button:disabled {
  background-color: #19672b;
}

.repeat-button-container{
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.repeat-button{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 800;
  padding: 16px 36px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .confirmation-button{
    width: 200px;
    padding: 8px 18px;
    font-size: 16px;
  }

  .repeat-button{
    width: 200px;
    padding: 8px 18px;
    font-size: 16px;
  }
}

/*
 * ------------
 * SDK
 * ------------
 */
dob-sdk-root {
  /* BASE */
  --dob-primary-color: #00aa9b;
  --dob-secundary-color: #242b49;
  --dob-success-color: #28a745;
  --dob-failure-color: #dc3545;

  /* FONTS */
  --dob-font-bold-name: 'Dob-Font-Bold';
  --dob-font-regular-name: 'Dob-Font-Regular';

  /* TEXTS */
  --dob-text-white-space: pre-wrap;
  --dob-text-title-color: var(--dob-primary-color);
  --dob-text-subtitle-color: var(--dob-secundary-color);
  --dob-text-lead-color: #000000;
  --dob-text-body-color: #000000;
  --dob-text-lead-secondary-color: #ffffff;
  --dob-text-body-secondary-color: #ffffff;
  --dob-text-body-success-color: var(--dob-success-color);
  --dob-text-body-failure-color: var(--dob-failure-color);

  /* ICONS */
  --dob-icon-camera-circle: url('../images/icons/camera-circle.svg') no-repeat center;
  --dob-icon-card-back: url('../images/icons/card-back.svg') no-repeat center;
  --dob-icon-card-front: url('../images/icons/card-front.svg') no-repeat center;
  --dob-icon-check-circle: url('../images/icons/check-circle.svg') no-repeat center;
  --dob-icon-check: url('../images/icons/check.svg') no-repeat center;
  --dob-icon-chevron-right: url('../images/icons/chevron-right.svg') no-repeat center;
  --dob-icon-cloud-upload: url('../images/icons/cloud-upload.svg') no-repeat center;
  --dob-icon-exclamation-triangle: url('../images/icons/exclamation-triangle.svg') no-repeat center;
  --dob-icon-info-circle: url('../images/icons/info-circle.svg') no-repeat center;
  --dob-icon-question-circle: url('../images/icons/question-circle.svg') no-repeat center;
  --dob-icon-info: url('../images/icons/info.svg') no-repeat center;
  --dob-icon-passport: url('../images/icons/passport.svg') no-repeat center;
  --dob-icon-replay: url('../images/icons/replay.svg') no-repeat center;
  --dob-icon-sign-in: url('../images/icons/sign-in.svg') no-repeat center;
  --dob-icon-sign-out: url('../images/icons/sign-out.svg') no-repeat center;
  --dob-icon-leave: url('../images/icons/leave.svg') no-repeat center;
  --dob-icon-times: url('../images/icons/times.svg') no-repeat center;
  --dob-icon-user: url('../images/icons/user.svg') no-repeat center;
  --dob-icon-certificate: url('../images/icons/verified.svg') no-repeat center;
  --dob-icon-video: url('../images/icons/video.svg') no-repeat center;
  --dob-icon-recording: url('../images/icons/recording.svg') no-repeat center;

  /* BUTTONS */
  --dob-button-border: 1px solid transparent;
  --dob-button-border-radius: 2rem;
  --dob-button-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  --dob-button-ripple-display: block;
  --dob-button-text-transform: uppercase;

  --dob-button-icon-display: inline-flex;
  --dob-button-icon-sign-in: var(--dob-icon-sign-in);
  --dob-button-icon-continue: var(--dob-icon-chevron-right);
  --dob-button-icon-agree: var(--dob-icon-check);
  --dob-button-icon-reject: var(--dob-icon-times);
  --dob-button-icon-leave: var(--dob-icon-leave);
  --dob-button-icon-retry: var(--dob-icon-replay);
  --dob-button-icon-info: var(--dob-icon-question-circle);
  --dob-button-icon-camera: var(--dob-icon-camera-circle);
  --dob-button-icon-sign-out: var(--dob-icon-sign-out);

  --dob-button-continue-color-text: #ffffff;
  --dob-button-continue-color-background: #28a745;
  --dob-button-continue-color-hover-text: #ffffff;
  --dob-button-continue-color-hover-background: #28a745;
  --dob-button-continue-color-active-text: #ffffff;
  --dob-button-continue-color-active-background: #28a745;

  --dob-button-agree-color-text: #ffffff;
  --dob-button-agree-color-background: var(--dob-success-color);
  --dob-button-agree-color-hover-text: #ffffff;
  --dob-button-agree-color-hover-background: var(--dob-success-color);
  --dob-button-agree-color-active-text: #ffffff;
  --dob-button-agree-color-active-background: var(--dob-success-color);

  --dob-button-reject-color-text: #ffffff;
  --dob-button-reject-color-background: var(--dob-failure-color);
  --dob-button-reject-color-hover-text: #ffffff;
  --dob-button-reject-color-hover-background: var(--dob-failure-color);
  --dob-button-reject-color-active-text: #ffffff;
  --dob-button-reject-color-active-background: var(--dob-failure-color);

  --dob-button-icon-color-background: #d7d7d7;
  --dob-button-icon-color-hover-background: #d7d7d7;
  --dob-button-icon-color-active-background: #d7d7d7;

  /* SPINNER */
  --dob-spinner-color: var(--dob-primary-color);

  /* LOADER */
  --dob-loader-border-radius: 4px;

  /* TOOLBAR */
  --dob-toolbar-color-background: #d7d7d7;
  --dob-toolbar-text-justify: center;

  /* DIALOG */
  --dob-dialog-border-radius: 4px;
  --dob-dialog-text-justify: center;

  /* CARD */
  --dob-card-border-radius: 4px;

  /* DOC CAPTURE */
  --dob-doc-capture-mask-color: rgba(0, 0, 0, 0.6);

  /* FACE CAPTURE */
  --dob-face-capture-mask-color: rgba(0, 0, 0, 0.6);
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
