# SPDX-FileCopyrightText: 2023 Felix Robles <felix@sequentech.io>
#
# SPDX-License-Identifier: AGPL-3.0-only
[package]
name = "windmill"
version = "0.1.0"
edition = "2021"
authors = [
  "Felix Robles <felix@sequentech.io>",
  "Eduardo Robles <edu@sequentech.io>"
]
license = "AGPL-3.0-only"

[[bin]]
name = "generate-logs"
path = "external-bin/generate_logs.rs"

[features]
default = ["fips_full"]
fips_core = ["dep:postgres-openssl", "dep:openssl", "dep:ecies"]
fips_full = ["dep:postgres-openssl", "dep:openssl", "dep:ecies"]

[dependencies]
rocket = { version = "0.5", features = ["json"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_path_to_error = "0.1"
reqwest = { version="0.12", features = ["multipart", "blocking", "json"] }
handlebars = "6.1"
anyhow = "1.0"
tempfile = "3.15"
fs_extra = "1.3"
flate2 = "1.0"
tar = "0.4"
graphql_client = "0.14"
rust-s3 = "0.35"
strum = "0.27"
strum_macros = "0.27"
base64 = "0.22"
celery = { git = "https://github.com/Findeton/rusty-celery.git", rev = "b4145925aaaf742b7ba54499fff45313bcadfca1" }
lapin = "2.5"
rayon = "1.5"
tokio = { version = "1.32", features = ["full"] }
async-trait = "0.1"
structopt = "0.3"
clap = { version = "4.4", features = ["derive"] } # Added for generate_logs binary
dotenv = "0.15"
chrono = "0.4"
lazy_static = "1.4"
async_once = "0.2"
uuid = { version = "1.5", features = ["v4", "fast-rng"] }
toml = "0.8" # Updated for generate_logs binary, was 0.6.0
quick-error = "2.0"
keycloak = "24.0"
encoding_rs = "0.8"
encoding_rs_io = "0.1"
xz2 = "0.1"
zip = "2.1"

# logging
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter", "fmt"] } # Added for generate_logs binary
thiserror = "2.0"

# time
time = "0.3"

# for sending emails and sms
lettre = { version = "0.11", features = ["rustls-tls", "smtp-transport", "builder"] }
aws-config = { version = "1.6", features = ["behavior-version-latest"]}
aws-sdk-sesv2 = { version = "1.70"}
aws-sdk-sns = { version = "1.63"}
# for s3
aws-sdk-s3 = { version = "1.79"}
aws-smithy-types = { version = "1.3"}
# for secrets
aws-sdk-secretsmanager = "1.66"

wrap-map-err = { path = "../wrap-map-err" }
immudb-rs = { path="../immudb-rs" }
b3 = { path="../b3", features = ["client"] }
electoral-log = { path="../electoral-log" }
strand = { path="../strand" }
sequent-core = { path="../sequent-core", features = ["reports", "s3", "keycloak", "log", "probe", "areas", "sqlite"] }
velvet = { path="../velvet" }

# To connect to the Database
deadpool = { version = "0.12", features = ["rt_tokio_1", "serde"] }
deadpool-postgres = { version = "0.14", features = ["rt_tokio_1", "serde"] }
tokio-postgres = { version = "0.7", features = ["with-uuid-1", "with-chrono-0_4", "with-serde_json-1"] }
tokio-stream = "0.1"
tokio-util = { version = "0.7", features = ["io"] }
rust_decimal= { version = "1.36", features = ["db-tokio-postgres"] }
rust_decimal_macros = "1.36"
config = "0.15"
cfg-if = "1.0"
postgres-openssl = { version = "0.5", optional = true }
# OpenSSL needs to be configured to operate in FIPS mode
# https://github.com/sfackler/rust-openssl/issues/1924
# https://www.openssl.org/docs/man3.0/man7/fips_module.html
openssl = { version = "0.10", optional = true }
rusqlite = { version = "0.32", features = ["bundled"] }

ecies = { version = "0.2", optional = true }

# To import users in CSV from a file into postgres
csv = "1.3"
rand = "0.9"
regex = { version = "1.10" }
futures = "0.3"
# for hashing passwords in import users
sha2 = "0.10"
ring = "0.17"
# serializing
hex = "0.4"
# threading
once_cell = "1.20"

walkdir = "2.3"
croner = "2.0"
unicode-normalization = "0.1"
num_cpus = "1.16"
ordered-float = { version = "5.0", features = ["serde"] }

rust_xlsxwriter = "0.90.0"
