# SPDX-FileCopyrightText: 2023 Felix Robles <felix@sequentech.io>
#
# SPDX-License-Identifier: AGPL-3.0-only
[package]
name = "windmill"
version = "0.1.0"
edition = "2021"
authors = [
  "Felix Robles <felix@sequentech.io>"
]
license = "AGPL-3.0-only"

[dependencies]
rocket = { version = "=0.5.0-rc.3", features = ["json"] }
serde = { version = "1.0.190", features = ["derive"] }
serde_json = "1.0.105"
reqwest = { version="0.11.18", features = ["blocking", "json"] }
handlebars = "4.3.7"
headless_chrome = {version = "1.0.5", default-features = false}
anyhow = "1.0.75"
tempfile = "3.8.0"
flate2 = "1.0.28"
tar = "0.4.40"
graphql_client = "0.13.0"
rust-s3 = "0.33.0"
strum = "0.25"
strum_macros = "0.25"
base64 = "0.21.0"
celery = "0.5.5"
tokio = { version = "1.32.0", features = ["full"] }
async-trait = "0.1.74"
structopt = "0.3.26"
dotenv = "0.15.0"
chrono = "0.4.31"
lazy_static = "1.4.0"
async_once = "0.2.6"
uuid = { version = "1.5.0", features = ["v4", "fast-rng"] }
toml = "0.6.0"
quick-error = "2.0.1"
keycloak = "21.0.102"

# logging
tracing = "0.1.37"

# for sending emails
lettre = "0.11.2"

wrap-map-err = { path = "../wrap-map-err" }
immu-board = { path="../immu-board" }
braid-messages = { path="../braid-messages" }
strand = { path="../strand" }
sequent-core = { path="../sequent-core", features = ["reports", "keycloak", "log"] }
velvet = { path="../velvet" }
