:root {
  --ifm-color-primary: #4E5BA6;
  --ifm-color-primary-dark: #44529c;
  --ifm-color-primary-darker: #3d4a8f;
  --ifm-color-primary-darkest: #333d7a;
  --ifm-color-primary-light: #6270b4;
  --ifm-color-primary-lighter: #707ebb;
  --ifm-color-primary-lightest: #8d99cc;

  --ifm-color-accent: #2EE8B9;

  --ifm-background-color: #fdf5f5e2;
  --ifm-color-content: #0F054C;

  --ifm-sidebar-background-color: #0F054C;
  --ifm-menu-color: #B7C2E2;
  --ifm-menu-color-active: #2EE8B9;
  --ifm-menu-color-background-active: rgba(46, 232, 185, 0.1);
  --ifm-menu-color-background-hover: rgba(46, 232, 185, 0.05);

  --ifm-navbar-background-color: #0F054C;
  --ifm-navbar-link-color: #ffffff;
  --ifm-navbar-link-hover-color: #2EE8B9;

  --ifm-footer-background-color: #0F054C;
  --ifm-footer-color: #ffffff;
  --ifm-footer-link-color: #B7C2E2;
  --ifm-footer-link-hover-color: #2EE8B9;

  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(46, 232, 185, 0.08);
}

.theme-doc-sidebar-container,
.theme-doc-sidebar-menu {
  background-color: #0F054C !important;
}

.theme-doc-sidebar-menu {
  padding-left: 10px;
}

.theme-doc-sidebar-menu .menu__link {
  color: #B7C2E2;
}

.theme-doc-sidebar-menu .menu__link--active,
.theme-doc-sidebar-menu .menu__link:hover {
  color: #2EE8B9;
  background-color: rgba(46, 232, 185, 0.1);
}

/* Expanded section text color */
.theme-doc-sidebar-menu .menu__list-item--expanded > .menu__link {
  color: #2EE8B9 !important;
}

.menu__list-item--expanded > .menu__link .menu__caret {
  color: #2EE8B9 !important;
}

/* Theme toggle icon */
.navbar__items .clean-btn svg {
  stroke: white !important;
  fill: white !important;
  color: white !important;
}

/* padding for Home button */
.navbar__brand .navbar__title {
  font-weight: 600;
  padding-left: 15px;
}

/* colors home Mint if active (custom js) */
.home-active {
  color: #2EE8B9 !important;
  font-weight: 600;
}


body.home .navbar__brand .navbar__title {
  color: #2EE8B9;
  font-weight: 600;
}

/* Navbar active link */
.navbar__link--active {
  color: #2EE8B9 !important;
  font-weight: 600;
}

/* Button styles */
.button--primary:active,
.button--primary:focus,
.button--primary:visited,
.button--primary:hover {
  background-color: #1ea689 !important;
  color: #ffffff !important;
}

.button--primary {
  background-color: #2EE8B9;
  color: #ffffff;
}

/* DARK MODE */
[data-theme='dark'] {
  --ifm-background-color: #7171a3;
  --ifm-color-primary: #2EE8B9;
  --ifm-color-primary-dark: #28d1a7;
  --ifm-color-primary-darker: #25c49d;
  --ifm-color-primary-darkest: #1ea689;
  --ifm-color-primary-light: #4eefd0;
  --ifm-color-primary-lighter: #63f2d7;
  --ifm-color-primary-lightest: #81f5df;
  --ifm-color-content: #ffffff;
  --ifm-link-color: #2EE8B9;

  --ifm-menu-color-background: #241a69;
  --ifm-menu-color: #B7C2E2;
  --ifm-menu-color-active: #2EE8B9;
  
  --docusaurus-highlighted-code-line-bg: rgba(255, 255, 255, 0.05);

  --ifm-footer-background-color: #e1def6;
  --ifm-footer-color: #B7C2E2;
}

/* Default caret color: off-white */
.menu__caret:before,
.menu__link--sublist-caret::after {
  content: '';
  margin-left: auto;
  min-width: 1.25rem;
  height: 1.25rem;
  width: 1.25rem;
  transform: rotate(180deg);
  transition: transform var(--ifm-transition-fast) linear;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2rem 2rem;
  filter: none !important;
  /* off-white caret */
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='%23e6eae6' d='M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z'/></svg>");
}

/* Rotation for collapsed */
.menu__list-item--collapsed .menu__link--sublist:after,
.menu__list-item--collapsed .menu__caret:before {
  transform: rotateZ(90deg);
}

/* Expanded caret: mint green */
/* Select the caret pseudo-elements of links inside list items NOT collapsed */
.menu__list-item:not(.menu__list-item--collapsed) .menu__caret:before,
.menu__list-item:not(.menu__list-item--collapsed) .menu__link--sublist-caret::after {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='%2300ffa3' d='M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z'/></svg>") !important;
}



.featureSvg {
  width: 190px;
  height: 190px;
}
