# SPDX-FileCopyrightText: 2021 David Ruescas <david@sequentech.io>
#
# SPDX-License-Identifier: AGPL-3.0-only

[package]
name = "braid"
version = "0.1.0"
authors = [
  "David Ruescas <david@sequentech.io>",
  "Eduardo Robles <edu@sequentech.io>"
]
edition = "2021"
license = "AGPL-3.0-only"

[dependencies]
rand = "0.8"
getrandom = { version = "0.2", features = ["js"] }

strand = { path="../strand", features=["rayon"] }
board-messages = { path="../board-messages" }
# chacha20poly1305 = "0.10.1"
borsh = "0.9.3"
crepe = "0.1.5"
immu-board = { path="../immu-board" }
immudb-rs = { path="../immudb-rs" }
strum = { version = "0.24.1", features = ["derive"] }
rayon = { version = "1.5" }
rusqlite = { version = "0.29.0", features = ["bundled"] }
anyhow = "1.0"
thiserror = "1.0.50"

# only needed for verifier
serde_json = "1.0.105"
colored = "2.0.4"

# daemon
clap = { version = "4.0", features = ["derive"] }
tokio = { version = "1.0" }
uuid = { version = "1.2", features = ["v4"] }
tonic = { version = "0.9.2", optional = true }

# logging 
log = "0.4.17"
tracing = "0.1"
tracing-log = { version = "0.1.3" }
tracing-attributes = "0.1.23"
tracing-subscriber = "0.3.16"
tracing-tree = "0.2.1"

cfg-if = "1.0"
config = {version = "0.13.1" }
hex = "0.4.2"
# instant = "0.1.12"
base64 = "0.21.4"
serde = "1.0.152"
toml = "0.6.0"

# wasm
wasm-bindgen-rayon = {version = "1.0.3", features = ["no-bundler"], optional = true}
wasm-bindgen = {version = "=0.2.100", optional = true}
tracing-wasm = {version="0.2.1", optional = true}

# dbg
reedline-repl-rs = { version = "1.0.7" }
ascii_table = { version = "4.0.2" }
async-trait = "0.1.73"

sequent-core = { path="../sequent-core", features = ["log"] }

[dev-dependencies]
criterion = {version = "0.4", features=["html_reports"]}

[lib]
crate-type = ["cdylib", "rlib"]

[features]
# wasm = ["dep:wasm-bindgen", "dep:wasm-bindgen-rayon", "dep:tracing-wasm", "instant/wasm-bindgen"]
fips_core = ["strand/fips_core"]
fips_full = ["strand/fips_full"]
rug = ["strand/rug"]
