# SPDX-FileCopyrightText: 2023-2024 Sequent Tech <legal@sequentech.io>
#
# SPDX-License-Identifier: AGPL-3.0-only

name: Admin Portal image Prebuild and Push

on:
  pull_request:
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: macos-latest
    permissions:
      contents: read
      packages: write
    steps:
    - name: Check Out Repo
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push admin-portal
      uses: docker/build-push-action@v6
      with:
        platforms: linux/arm64
        context: packages/.
        file: packages/Dockerfile.admin-portal
        tags: ghcr.io/${{ github.repository }}/admin-portal
        push: true