# SPDX-FileCopyrightText: 2023-2024 Sequent Tech <legal@sequentech.io>
#
# SPDX-License-Identifier: AGPL-3.0-only

name: DevPod Prebuild
on:
  push:
    branches: [ 'main', 'release/[0-9]+.[0-9]+' ]

jobs:
  build:
    runs-on:
      - env=infra-euw1
      - runs-on=${{ github.run_id }}
      - runner=2cpu-linux-x64
      - image=ubuntu24-full-x64

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      #- name: Login to Docker Registry
      #  uses: docker/login-action@v1
      #  with:
      #    registry: ghcr.io
      #    username: ${{ github.actor }}
      #    password: ${{ secrets.GITHUB_TOKEN }}

      #- name: Download DevPod CLI
      #  run: |
      #    curl -L -o devpod "https://github.com/loft-sh/devpod/releases/latest/download/devpod-linux-amd64"
      #    sudo install -c -m 0755 devpod /usr/local/bin
      #    rm -f devpod

      #- name: Add Docker provider to DevPod
      #  run: |
      #    devpod provider add docker

      #- name: Build with DevPod
      #  run: |
      #    devpod build \
      #      github.com/${{ github.repository }} \
      #      --repository ghcr.io/${{ github.repository }} --provider docker
