name: DevPod Prebuild

on:
  push:
    branches: [ 'main', 'feat/meta-703/main' ]

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: admin
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: "${{ github.actor }}"
          password: "${{ secrets.GITHUB_TOKEN }}"

      - name: Download DevPod CLI
        run: |
          curl -L -o devpod "https://github.com/loft-sh/devpod/releases/download/v0.5.6-alpha.3/devpod-linux-amd64"
          sudo install -c -m 0755 devpod /usr/local/bin
          rm -f devpod

      - name: Add Docker provider to DevPod
        run: |
          devpod provider add docker

      - name: Build with DevPod
        run: |
          bash $GITHUB_WORKSPACE/.devcontainer/scripts/initialize-command.sh
          export COMPOSE_PROFILES=base
          /usr/local/bin/devpod version
          /usr/local/bin/devpod build \
            $GITHUB_WORKSPACE \
            --debug \
            --repository ghcr.io/${{ github.repository }} \
            --provider docker
