name: DevPod Prebuild

on:
  push:
    branches: [ 'main', 'feat/meta-703/main' ]
permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to Docker Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Download DevPod CLI
        run: |
          curl -L -o devpod "https://github.com/loft-sh/devpod/releases/latest/download/devpod-linux-amd64"
          sudo install -c -m 0755 devpod /usr/local/bin
          rm -f devpod

      - name: Add Docker provider to DevPod
        run: |
          devpod provider add docker

      - name: Build with DevPod
        run: |
          bash $GITHUB_WORKSPACE/.devcontainer/scripts/initialize-command.sh
          devpod build \
            $GITHUB_WORKSPACE \
            --repository ghcr.io/${{ github.repository }} --provider docker
