# SPDX-FileCopyrightText: 2023-2024 Sequent Tech <legal@sequentech.io>
#
# SPDX-License-Identifier: AGPL-3.0-only

name: E2E Tests

on:
  workflow_dispatch:
    inputs:
      urlTest:
        description: 'URL from env where launch the tests, by default is dev env'
        required: true
        type: string
        default: 'https://admin-portal-dev.sequent.vote/'
      adminUser:
        description: 'admin user of env'
        required: true
        type: string
        default: 'admin'
      adminPassword:
        description: 'admin password of env'
        required: true
        type: string
        default: 'admin'
      # useLocal:
      #   description: 'generate local env for testing?'
      #   type: boolean
      #   default: "false"
  # pull_request:
  # push:
  #     branches: [ 'main' ]

jobs:
  e2e:
    runs-on: ubuntu-latest
    env:
      TEST_URL: ${{ github.event.inputs.urlTest }}
      ADMIN_PORTAL_TEST_USERNAME: ${{ github.event.inputs.adminUser }}
      ADMIN_PORTAL_TEST_PASSWORD: ${{ github.event.inputs.adminPassword }}
      BROWSERSTACK_USERNAME: ${{ secrets.BROWSERSTACK_USERNAME }}
      BROWSERSTACK_ACCESS_KEY: ${{ secrets.BROWSERSTACK_ACCESS_KEY }}
    strategy:
      matrix:
        include:
          - browser: chrome
      fail-fast: false
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18.13.0'
        cache: 'yarn'
    - name: Install Dependencies
      run: | 
        cd packages
        yarn
        npm install @nightwatch/browserstack
    - name: Run admin-portal tests against env
      # if: ${{ github.event.inputs.useLocal == 'false' }}
      run: |
        cd packages/admin-portal/node_modules
        cp -r ../../node_modules/@nightwatch .
        cp -r ../../node_modules/nightwatch .
        cd ..
        xvfb-run --auto-servernum npx nightwatch test/e2e/*.ts --serial -c nightwatch.conf-ghaction.js  --env ${{ matrix.browser }}
    # - name: Run admin-portal tests against local
    #   if: ${{ github.event.inputs.useLocal == 'true' }}
    #   run: |
    #     cd .devcontainer
    #     cp .env.development .env
    #     docker compose build
    #     docker compose up
    #     export TEST_URL='http://localhost:3002'
    #     export ADMIN_PORTAL_TEST_USERNAME='admin'
    #     export ADMIN_PORTAL_TEST_PASSWORD='admin'
    #     cd packages/admin-portal/node_modules
    #     cp -r ../../node_modules/@nightwatch .
    #     cp -r ../../node_modules/nightwatch .
    #     cd ..
    #     xvfb-run --auto-servernum npx nightwatch test/e2e/*.ts -c nightwatch.conf-ghaction.js  --env ${{ matrix.browser }}
        # env:
        #   TEST_URL: ${{ github.event.inputs.urlTest }}
        #   ADMIN_PORTAL_TEST_USERNAME: ${{ github.event.inputs.adminUser }}
        #   ADMIN_PORTAL_TEST_PASSWORD: ${{ github.event.inputs.adminPassword }}
        #   BROWSERSTACK_USERNAME: ${{ secrets.BROWSERSTACK_USERNAME }}
        #   BROWSERSTACK_ACCESS_KEY: ${{ secrets.BROWSERSTACK_ACCESS_KEY }}
