# SPDX-FileCopyrightText: 2023-2024 Sequent Tech <legal@sequentech.io>
#
# SPDX-License-Identifier: AGPL-3.0-only

name: E2E Tests
on:
  # Remove me on merge
  pull_request:
  workflow_dispatch:
jobs:
  e2e:
    runs-on:
      - env=infra-euw1
      - runs-on=${{ github.run_id }}
      - runner=4cpu-linux-x64
      - image=ubuntu24-full-x64
      - disk=large
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v26
    - uses: cachix/cachix-action@v14
      with:
        name: devenv
    - name: Install devenv.sh
      run: nix profile install nixpkgs#devenv
    - name: Run admin and voting portal
      run: scripts/e2e-up.sh
    - run: echo 'LOADTESTING_IMAGE=loadtesting:latest' >> $GITHUB_ENV
    - name: Build image
      uses: docker/build-push-action@v5
      with:
        context: .
        file: packages/loadtesting/Dockerfile
        push: false
        tags: ${{ env.LOADTESTING_IMAGE }}
    - name: Run e2e tests
      run: |
        docker run --network=host ${{ env.LOADTESTING_IMAGE }} e2e --voting-url http://localhost:3000/tenant/90505c8a-23a9-4cdf-a26b-4e19f6a097d5/event/33f18502-a67c-4853-8333-a58630663559/login
