# SPDX-FileCopyrightText: 2023-2024 Sequent Tech <legal@sequentech.io>
#
# SPDX-License-Identifier: AGPL-3.0-only

name: E2E Tests
on:
  workflow_dispatch:
    inputs:
      loadtestingImage:
        description: 'Load testing image to use'
        required: true
        type: string
        default: '133529410358.dkr.ecr.eu-west-1.amazonaws.com/loadtesting'
  pull_request:
  push:
      branches: [ 'main', 'release/[0-9]+.[0-9]+' ]

jobs:
  e2e:
    runs-on:
      - env=infra-euw1
      - runs-on=${{ github.run_id }}
      - runner=4cpu-linux-x64
      - image=ubuntu24-full-x64
      - disk=large
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v26
    - uses: cachix/cachix-action@v14
      with:
        name: devenv
    - name: Install devenv.sh
      run: nix profile install nixpkgs#devenv
    - name: Run admin portal
      run: |
        pushd .devcontainer &> /dev/null
        cp .env.development .env
        docker compose up -d --build
        popd &> /dev/null
        devenv shell -- sh -c 'cd packages && yarn && yarn build:ui-core && yarn build:ui-essentials'
        devenv shell -- sh -c 'cd packages && yarn start:admin-portal &'
        devenv shell -- sh -c 'cd packages && yarn start:voting-portal &'
        echo "Waiting for http://localhost:3002 to become ready..."
        npx wait-on http://localhost:3002 --timeout 30m
    - name: Set loadtestingImage variable with default fallback
      run: echo "LOADTESTING_IMAGE=${{ github.event.inputs.loadtestingImage || 'loadtesting:latest' }}" >> $GITHUB_ENV
    - name: Build image
      uses: docker/build-push-action@v5
      with:
        context: .
        file: packages/loadtesting/Dockerfile
        push: false
        tags: ${{ env.LOADTESTING_IMAGE }}
    - name: Run e2e tests
      run: |
        docker run ${{ env.LOADTESTING_IMAGE }} e2e
