# SPDX-FileCopyrightText: 2023-2024 Sequent Tech <legal@sequentech.io>
#
# SPDX-License-Identifier: AGPL-3.0-only

name: E2E Tests

on:
  push:
    branches: [ 'feat/meta-474b/jorge' ]

jobs:
  e2e:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x, 14.x, 16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js $undefined
      uses: actions/setup-node@v3
      with:
        node-version: $undefined
        cache: 'npm'

    - name: npm-install
      run: |
        npm ci
        npm install @nightwatch/browserstack
        npm list @nightwatch/browserstack
        sudo apt-get install xvfb

    - name: Run admin-portal tests
      run: |
        cd packages/admin-portal
        export TEST_URL="https://admin-portal-dev.sequent.vote/"
        xvfb-run --auto-servernum npx nightwatch test/e2e/area.test.ts -c nightwatch.conf-dev.js  --env chrome