# SPDX-FileCopyrightText: 2023-2024 Sequent Tech <legal@sequentech.io>
#
# SPDX-License-Identifier: AGPL-3.0-only

name: E2E Tests
on:
  workflow_dispatch:
    inputs:
      loadtestingImage:
        description: 'Load testing image to use'
        required: true
        type: string
        default: '133529410358.dkr.ecr.eu-west-1.amazonaws.com/loadtesting'
  pull_request:
  push:
      branches: [ 'main', 'release/[0-9]+.[0-9]+' ]

jobs:
  e2e:
    runs-on:
      - env=infra-euw1
      - runs-on=${{ github.run_id }}
      - runner=2cpu-linux-x64
      - image=ubuntu24-full-x64
    steps:
    - uses: actions/checkout@v3
    - name: Set loadtestingImage variable with default fallback
      run: echo "LOADTESTING_IMAGE=${{ github.event.inputs.loadtestingImage || 'loadtesting:latest' }}" >> $GITHUB_ENV
    - name: Build image
      uses: docker/build-push-action@v5
      with:
        context: .
        file: packages/loadtesting/Dockerfile
        push: false
        tags: loadtesting:latest
    - name: Run e2e tests
      run: |
        docker run ${{ env.LOADTESTING }} e2e