# SPDX-FileCopyrightText: 2023-2024 Sequent Tech <legal@sequentech.io>
#
# SPDX-License-Identifier: AGPL-3.0-only

name: E2E Tests

on:
  push:
    branches: [ 'feat/meta-474b/devops' ]

jobs:
  e2e:
    runs-on: ubuntu-latest

    #strategy:
    #  matrix:
    #    node-version: [20.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18.13.0'
        cache: 'yarn'
    #- name: Set the correct Node version using nvm
    #  shell: bash -l {0} 
    #  run: nvm install v18.13.0
    - name: Install Dependencies
      run: | 
        cd packages
        yarn
        npm install @nightwatch/browserstack
    - name: Run admin-portal tests
      run: |
        cd packages/admin-portal/node_modules
        cp -r ../../node_modules/@nightwatch .
        cp -r ../../node_modules/nightwatch .
        cd ..
        sudo apt-get install xvfb
        export TEST_URL="https://admin-portal-dev.sequent.vote/"
        for file in "test/e2e/"*".ts"; do
            if [[ -f "$file" ]]; then
                echo "$file"
                xvfb-run --auto-servernum npx nightwatch $file -c nightwatch.conf-dev.js  --env chrome
            fi
        done