name: Generate API Documentation
on:
  push:
    branches:
      - feat/meta-1148A/main

jobs:
  generate-docs:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Install dependencies
      run: yarn install
      working-directory: ./packages/api-docs/graphql
  
    - name: Generate GraphQL documentation
      run: yarn run generate-docs-graphql
      working-directory: ./packages/api-docs/graphql