# SPDX-FileCopyrightText: 2024 Sequent Tech <legal@sequentech.io>
#
# SPDX-License-Identifier: AGPL-3.0-only

name: Java Test

on:
    pull_request:
    push:
      branches: [ 'main', 'release/[0-9]+.[0-9]+' ]

jobs:
  build-and-test:
    runs-on: [arc-custom-runners-sequentech, image=ubuntu24-full-x64]

    steps:
    - uses: actions/checkout@v2

    - name: Set up JDK 17
      uses: actions/setup-java@v2
      with:
        java-version: '17'
        distribution: 'adopt'

    - name: Install Maven
      run: sudo apt-get update && sudo apt-get install -y maven
        
    - name: Keycloak Extensions Build and Test with Maven
      run: mvn -B clean verify --file packages/keycloak-extensions/pom.xml


