# SPDX-FileCopyrightText: 2024 Sequent Tech <legal@sequentech.io>
#
# SPDX-License-Identifier: AGPL-3.0-only

name: Java Test

on:
    pull_request:
    push:
      branches: [ 'main', 'release/[0-9]+.[0-9]+' ]

jobs:
  build-and-test:
    runs-on:
      - runs-on=${{ github.run_id }}
      - runner=2cpu-linux-x64
      - image=ubuntu24-full-x64

    steps:
    - uses: actions/checkout@v2

    - name: Set up JDK 17
      uses: actions/setup-java@v2
      with:
        java-version: '17'
        distribution: 'adopt'

    - name: Install Maven
      run: |
        set -eux
        apt update
        mkdir -p /usr/share/man/man1
        apt install -y build-essential maven
  
    - name: Keycloak Extensions Build and Test with Maven
      run: mvn -B clean verify --file packages/keycloak-extensions/pom.xml