# SPDX-FileCopyrightText: 2024 Sequent Tech <legal@sequentech.io>
#
# SPDX-License-Identifier: AGPL-3.0-only

name: Java Test

on:
    pull_request:
    push:
        branches: [ 'main' ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up JDK 17
      uses: actions/setup-java@v2
      with:
        java-version: '17'
        distribution: 'adopt'

    - name: Verify Java Version
      run: java --version

    - name: Verify Java Home
      run: echo $JAVA_HOME

    - name: Verify Maven Version
      run: mvn -version    
        
    - name: Clean and Test with Maven
      run: mvn -B clean verify --file packages/keycloak-extensions/pom.xml


