# SPDX-FileCopyrightText: 2024 Sequent Tech <legal@sequentech.io>
#
# SPDX-License-Identifier: AGPL-3.0-only

name: REUSE licensing check

on:
    pull_request:
    push:
      branches: [ 'main', 'release/[0-9]+.[0-9]+' ]

jobs:
  reuse:
    runs-on:
      - env=infra-euw1
      - runs-on=${{ github.run_id }}
      - runner=2cpu-linux-x64
      - image=ubuntu24-full-x64

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: REUSE licensing check
      uses: fsfe/reuse-action@v3
