name: Build & Push to ECR

on:
  push:
    branches: [ 'feat/meta-363/main' ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - service: keycloak
            context: packages
            file: packages/Dockerfile.keycloak
            
          - service: voting-portal
            context: packages
            file: packages/Dockerfile.prod
            spa_name: "voting-portal"
            
          - service: admin-portal
            context: packages
            file: packages/Dockerfile.prod
            spa_name: "admin-portal"

          - service: ballot-verifier
            context: packages
            file: packages/Dockerfile.prod
            spa_name: "ballot-verifier"

          - service: harvest
            context: packages
            file: packages/harvest/Dockerfile.prod
            
          - service: braid
            context: packages
            file: packages/braid/Dockerfile.prod
            
          - service: windmill
            context: packages
            file: packages/windmill/Dockerfile.prod

          - service: immudb-init
            context: packages
            file: packages/Dockerfile.immudb-init.prod
            
      fail-fast: false

    steps:
    - name: Check Out Repo
      uses: actions/checkout@v4

    - name: Set short SHA
      run: echo "SHORT_SHA=$(echo $GITHUB_SHA | cut -c 1-7)" >> $GITHUB_ENV

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2

    - name: Build & Push to ECR
      uses: docker/build-push-action@v5
      with:
        context: ${{ matrix.context }}
        file: ${{ matrix.file }}
        push: ${{ github.event_name == 'push' && github.ref == 'refs/heads/feat/meta-363/main' }}
        tags: |
          ${{ secrets.AWS_PROD_REGISTRY }}/${{ matrix.service }}:${{ env.SHORT_SHA }}
          ${{ secrets.AWS_PROD_REGISTRY }}/${{ matrix.service }}:${{ github.run_number }}
        cache-from: type=gha,scope=${{ matrix.service }}
        cache-to: type=gha,mode=max,scope=${{ matrix.service }}
        build-args: SPA_NAME=${{ matrix.spa_name }}
