# SPDX-FileCopyrightText: 2025 Sequent Tech Inc <legal@sequentech.io>
#
# SPDX-License-Identifier: AGPL-3.0-only

name: Build & Push to ECR

on:
  push:
      branches: [ 'main', 'release/[0-9]+.[0-9]+' ]

jobs:
  build-and-push:
    uses: ./.github/workflows/reusable_build_push.yml
    secrets: inherit
    with:
      push: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}

  # Build and push images to the root ECR repository
  # build-and-push-root:
  #   uses: ./.github/workflows/reusable_build_push_root.yml
  #   secrets: inherit
  #   with:
  #     push: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}