# SPDX-FileCopyrightText: 2023-2024 Sequent Tech <legal@sequentech.io>
#
# SPDX-License-Identifier: AGPL-3.0-only

name: Build Docker images

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'The tag to use for the images'
        required: false
        type: string
      push:
        description: 'Whether to push the images'
        required: true
        type: boolean
        default: false

jobs:
  build-and-push:
    uses: ./.github/workflows/reusable_build_push.yml
    secrets: inherit
    with:
      push: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}