name: Build Docker images

on:
  pull_request:

jobs:
  build-and-push:
    uses: ./.github/workflows/reusable_build_push.yml
    secrets: inherit
    with:
      push: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}