# SPDX-FileCopyrightText: 2023-2024 Sequent Tech <legal@sequentech.io>
#
# SPDX-License-Identifier: AGPL-3.0-only

name: Automated Release Process
run-name: ${{ format('Automated Release Process - {0}', inputs.releaseType )}}
on:
  workflow_dispatch:
    inputs:
      releaseType:
        description: 'Release Type (major, minor, patch)'
        required: true
        type: choice
        default: 'patch'
        options:
          - patch
          - minor
          - major

permissions:
  contents: write
  actions: read

jobs:
  release:
    runs-on: ubuntu-latest
    outputs:
      VERSION: ${{ steps.Release.outputs.VERSION }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0 # Fetches all history for all tags and branches

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '18'

    - name: Configure Git
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"

    - name: Install release-it
      run: npm install --global release-it

    - name: Release
      id: Release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        release-it --ci --increment=${{ github.event.inputs.releaseType }}
        # Capture the Release Version
        echo VERSION=$(git describe --tags --abbrev=0) | tee -a $GITHUB_ENV $GITHUB_OUTPUT



  # Build & Push the images

  build-and-push:
    uses: ./.github/workflows/reusable_build_push.yml
    needs: release
    secrets: inherit
    with:
      tag: ${{ needs.release.outputs.VERSION }}
      push: true
  
  trigger-deployer:
    needs: [release, build-and-push]
    runs-on: ubuntu-latest
    steps:
    - name: Trigger Deployer Workflow
      run: |
        curl -f -X POST \
          -H "Authorization: token ${{ secrets.PAT }}" \
          -H "Accept: application/vnd.github.v3+json" \
          "${{ secrets.GH_API_URL }}" \
          --data '{"event_type": "new-release-trigger", "client_payload": {"version": "${{ needs.release.outputs.VERSION }}", "repository": "step"}}'

  cleanup:
    if: failure()
    # Here define the depenency jobs
    needs: [release,build-and-push]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Fetches all history for all tags and branches

      - name: Delete Release
        run: |
          echo "Version received in cleanup job: ${{ needs.release.outputs.VERSION }}"
          gh release delete '${{ needs.release.outputs.VERSION }}' -y --cleanup-tag  || echo "Failed to delete release"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  slack-report:
    needs: [release, build-and-push, trigger-deployer, cleanup]
    runs-on: ubuntu-latest
    timeout-minutes: 20
    if: always()
    steps:
      - name: Slack Workflow Notification
        uses: Gamesight/slack-workflow-status@v1.2.0
        with:
          # Required Input
          repo_token: ${{secrets.GITHUB_TOKEN}}
          slack_webhook_url: ${{secrets.SLACK_WEBHOOK_URL}}
          # Optional Input 
          name: 'Github Actions'

      - name: Slack additional info
        # Don't send slack notification if cleanup job deleted the release
        if: ${{ needs.cleanup.result != 'success' }}
        uses: slackapi/slack-github-action@v1.24.0
        with:
          payload: |
            {
              "text": "*Sequent Release Notification* :rocket:\n*Version:* ${{ needs.release.outputs.VERSION }}\n*View Release:* <https://github.com/${{ github.repository }}/releases/tag/${{ needs.release.outputs.VERSION }}|${{ needs.release.outputs.VERSION }}>"
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}