# SPDX-FileCopyrightText: 2023-2024 Sequent Tech <legal@sequentech.io>
#
# SPDX-License-Identifier: AGPL-3.0-only

name: Reusable Build and Push

on:
  workflow_call:
    inputs:
      tag:
        description: 'The tag to use for the images'
        required: false
        type: string
      push:
        description: 'Whether to push the images'
        required: true
        type: boolean

jobs:
  build-and-push:
    strategy:
      matrix:
        include:
          - service: keycloak
            context: packages
            runner: 2cpu-linux-x64
            file: packages/Dockerfile.keycloak

          - service: keycloak
            context: packages
            runner: 2cpu-linux-arm64
            file: packages/Dockerfile.keycloak

          - service: voting-portal
            context: packages
            runner: 2cpu-linux-x64
            file: packages/Dockerfile.prod
            spa_name: "voting-portal"

          - service: voting-portal
            context: packages
            runner: 2cpu-linux-arm64
            file: packages/Dockerfile.prod
            spa_name: "voting-portal"

          - service: admin-portal
            context: packages
            runner: 2cpu-linux-x64
            file: packages/Dockerfile.prod
            spa_name: "admin-portal"

          - service: admin-portal
            context: packages
            runner: 2cpu-linux-arm64
            file: packages/Dockerfile.prod
            spa_name: "admin-portal"

          - service: ballot-verifier
            context: packages
            runner: 2cpu-linux-x64
            file: packages/Dockerfile.prod
            spa_name: "ballot-verifier"

          - service: ballot-verifier
            context: packages
            runner: 2cpu-linux-arm64
            file: packages/Dockerfile.prod
            spa_name: "ballot-verifier"

          - service: harvest
            context: packages
            runner: 2cpu-linux-x64
            file: packages/harvest/Dockerfile.prod

          - service: harvest
            context: packages
            runner: 2cpu-linux-arm64
            file: packages/harvest/Dockerfile.prod

          - service: b3
            context: packages
            runner: 2cpu-linux-x64
            file: packages/b3/Dockerfile.prod

          - service: b3
            context: packages
            runner: 2cpu-linux-arm64
            file: packages/b3/Dockerfile.prod

          - service: braid
            context: packages
            runner: 2cpu-linux-x64
            file: packages/braid/Dockerfile.prod

          - service: braid
            context: packages
            runner: 2cpu-linux-arm64
            file: packages/braid/Dockerfile.prod

          - service: windmill
            context: packages
            runner: 2cpu-linux-x64
            file: packages/windmill/Dockerfile.prod

          - service: windmill
            context: packages
            runner: 2cpu-linux-arm64
            file: packages/windmill/Dockerfile.prod

          - service: immudb-init
            context: packages
            runner: 2cpu-linux-x64
            file: packages/Dockerfile.immudb-init.prod

          - service: immudb-init
            context: packages
            runner: 2cpu-linux-arm64
            file: packages/Dockerfile.immudb-init.prod

          - service: immudb
            context: packages
            runner: 2cpu-linux-x64
            file: packages/Dockerfile.immudb

          - service: immudb
            context: packages
            runner: 2cpu-linux-arm64
            file: packages/Dockerfile.immudb

          - service: mock_server
            context: packages/e2e/src/mock_server
            runner: 2cpu-linux-x64
            file: packages/e2e/src/mock_server/Dockerfile.prod

          - service: mock_server
            context: packages/e2e/src/mock_server
            runner: 2cpu-linux-arm64
            file: packages/e2e/src/mock_server/Dockerfile.prod

      fail-fast: false

    runs-on:
      - runs-on=${{ github.run_id }}
      - runner=${{ matrix.runner }}
      - image=${{ contains(matrix.runner, 'x64') && 'ubuntu24-full-x64' || 'ubuntu24-full-arm64' }}

    steps:
    - name: Check Out Repo
      uses: actions/checkout@v4

    - name: Set short SHA
      run: echo "SHORT_SHA=$(echo $GITHUB_SHA | cut -c 1-7)" >> $GITHUB_ENV

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID_GLOBALDOT }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY_GLOBALDOT }}
        aws-region: eu-west-1

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2

    - name: Build & Push to ECR
      uses: docker/build-push-action@v5
      with:
        context: ${{ matrix.context }}
        file: ${{ matrix.file }}
        push: ${{ inputs.push }}
        tags: |
          ${{ vars.AWS_ECR_REGISTRY_GLOBALDOT }}/${{ matrix.service }}:${{ env.SHORT_SHA }}
          ${{ vars.AWS_ECR_REGISTRY_GLOBALDOT }}/${{ matrix.service }}:${{ inputs.tag || github.run_number }}
        cache-from: type=gha,scope=${{ matrix.service }}
        cache-to: type=gha,mode=max,scope=${{ matrix.service }}
        build-args: |
          SPA_NAME=${{ matrix.spa_name }}
          FEATURES=${{ matrix.features }}
