# SPDX-FileCopyrightText: 2023-2024 Sequent Tech <legal@sequentech.io>
#
# SPDX-License-Identifier: AGPL-3.0-only

name: Build Multiplatform Step CLI Binary

on:
  push:
    branches:
      - feat/meta-6483/main

jobs:
  build-cli:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    env:
      CARGO_TARGET_DIR: rust-local-target
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Install protoc on Linux
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y protobuf-compiler

      - name: Install protoc on macOS
        if: runner.os == 'macOS'
        run: brew install protobuf

      # - name: Install protoc on Windows
      #   if: runner.os == 'Windows'
      #   run: choco install protoc -y

      # - name: Install OpenSSL on Windows
      #   if: runner.os == 'Windows'
      #   run: choco install openssl.light -y

      # - name: Set OPENSSL_DIR for Windows
      #   if: runner.os == 'Windows'
      #   run: echo "OPENSSL_DIR=C:\Program Files\OpenSSL-Win64" >> $GITHUB_ENV

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          components: rustfmt
          override: true

      - name: Build step-cli
        working-directory: packages/step-cli
        run: cargo build --release

      - name: List build output (for debugging)
        working-directory: packages/step-cli
        run: |
          if [ "${{ runner.os }}" = "Windows" ]; then
            dir rust-local-target\\release
          else
            ls -lR rust-local-target/release
          fi

      - name: Upload CLI binary artifact
        uses: actions/upload-artifact@v4
        with:
              name: step-cli-binary
              path: "${{ matrix.os == 'Windows' && 'packages/step-cli/rust-local-target\\release\\seq.exe' || 'packages/step-cli/rust-local-target/release/seq' }}"


      # - name: Upload CLI binary artifact
      #   working-directory: .
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: step-cli-binary-${{ matrix.os }}
      #     path: "${{ matrix.os == 'Windows' ? 'packages/step-cli/rust-local-target\\release\\seq.exe' : 'packages/step-cli/rust-local-target/release/seq' }}"