name: Step CLI Binary

on:
  push:
    branches:
      - feat/meta-6483/main

jobs:
  build-cli:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      
      - name: Install protoc
        run: sudo apt-get update && sudo apt-get install -y protobuf-compiler

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          components: rustfmt
          override: true

      - name: Build step-cli
        run: |
          cd packages/step-cli
          cargo build --release

      - name: Upload CLI binary artifact
        uses: actions/upload-artifact@v4
        with:
          name: step-cli-binary
          path: rust-local-target/release/seq