# SPDX-FileCopyrightText: 2023-2024 Sequent Tech <legal@sequentech.io>
#
# SPDX-License-Identifier: AGPL-3.0-only

name: Build Step CLI Binary

on:
  pull_request:
  push:
    branches: [ 'main', 'release/[0-9]+.[0-9]+' ]
  release:
    types: [published]

jobs:
  build-cli:
    runs-on:
      - env=infra-euw1
      - runs-on=${{ github.run_id }}
      - runner=2cpu-linux-x64
      - image=ubuntu24-full-x64
    env:
      CARGO_TARGET_DIR: rust-local-target
      RUSTFLAGS: "-C target-feature=-crt-static -lgcc_eh -lm"
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Install protoc and OpenSSL dependencies on Linux
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y protobuf-compiler musl-tools libssl-dev pkg-config musl-dev libunwind-dev

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          profile: minimal
          toolchain: 1.90.0
          components: rustfmt
          target: x86_64-unknown-linux-musl

      - name: Link openssl
        working-directory: packages/step-cli
        run: sudo ln -s /usr/include/x86_64-linux-gnu/openssl/opensslconf.h /usr/include/openssl/opensslconf.h && sudo ln -s /usr/include/x86_64-linux-gnu/openssl/configuration.h /usr/include/openssl/configuration.h

      - name: Build step-cli
        working-directory: packages/step-cli
        env:
          OPENSSL_DIR: /usr
          OPENSSL_LIB_DIR: /usr/lib/x86_64-linux-gnu
          OPENSSL_STATIC: 1
          PKG_CONFIG_ALLOW_CROSS: 1
          OPENSSL_NO_VENDOR: 0
        run: cargo build --release --target x86_64-unknown-linux-musl

      - name: List build output target-rust-local (for debugging)
        working-directory: packages/step-cli
        run: ls -lR rust-local-target/x86_64-unknown-linux-musl/release

      - name: Upload CLI binary artifact
        uses: actions/upload-artifact@v4
        with:
              name: step-cli-binary
              path: packages/step-cli/rust-local-target/x86_64-unknown-linux-musl/release/seq