# SPDX-FileCopyrightText: 2023-2024 Sequent Tech <legal@sequentech.io>
#
# SPDX-License-Identifier: AGPL-3.0-only

name: Build Step CLI Binary

on:
  # pull_request:
  push:
    # branches: [ 'main', 'release/[0-9]+.[0-9]+' ]
    branches: [ 'feat/meta-6483/main' ]
  release:
    types: [published]
# Run it also in a release but only if it a release add the result as an artifcat
# the matrix is used the default platform of the os
# Make sure this runs on a cross compile archs on the same time using ubunto
jobs:
  build-cli:
    runs-on:
      - runs-on=${{ github.run_id }}
      - runner=2cpu-linux-x64
      - image=ubuntu24-full-x64
    strategy:
      matrix:
        target: [ "x86_64-unknown-linux-gnu", "aarch64-unknown-linux-gnu" ]

    env:
      CARGO_TARGET_DIR: rust-local-target
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Install dependencies for cross-compiling
        run: |
          sudo apt-get update
          # For cross-compiling to aarch64
          sudo apt-get install -y gcc-aarch64-linux-gnu
          # If you need protoc for your project
          sudo apt-get install -y protobuf-compiler

      - name: Install Rust
        uses: dtolnay/rust-toolchain@master
        with:
          targets: ${{ matrix.target }}
          toolchain: stable

      - name: Build step-cli
        working-directory: packages/step-cli
        run: cargo build --release

      - name: Upload CLI binary artifact
        uses: actions/upload-artifact@v4
        with:
              name: step-cli-binary
              path: "'packages/step-cli/rust-local-target/release/seq'"