.watermark {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .watermark-background {
    position: relative;
    width: 100%;
    height: 90vh; 
    background-color: rgb(255, 255, 255);
    background-image: url('/workspaces/backend-services/packages/voting-portal/public/demo-banner.png');
    background-repeat: repeat; 
    background-position: center; 
    background-size: 100px 100px; 
  }